
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gVL-dRZCpj"}' data-id="gVL-dRZCpj" id="gVL-dRZCpj" data-same-height-subgrid-container class="gVL-dRZCpj gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:1px;--mb:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gdcFStLPNL gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g_cxNjdMDy"}' data-id="g_cxNjdMDy" id="g_cxNjdMDy" data-same-height-subgrid-container class="g_cxNjdMDy gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:4px;--pb:4px;--pt-mobile:33px;--pb-mobile:14px;--pt-tablet:4px;--pb-tablet:4px;--cg:6px;--cg-mobile:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gteMeNWOol gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"zoom","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Icon","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:visible;--v-tablet:visible;--v-mobile:visible;display:contents">
    <div id="gDvVcnI4xA" class="gp-leading-[0] gDvVcnI4xA" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:-2px;--mb-mobile:-1px;--ta:left">
      <div data-id="gDvVcnI4xA" class="icon-wrapper gp-inline-flex gp-overflow-hidden gDvVcnI4xA " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#151515;--t:rotate(0deg);--w:17px;--w-tablet:17px;--w-mobile:17px;--h:17px;--h-tablet:17px;--h-mobile:17px;--minw:17px;--minw-tablet:17px;--minw-mobile:17px;--height-desktop:17px;--height-tablet:17px;--height-mobile:17px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-id="536219327578244186" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500" zoomAndPan="magnify" viewBox="0 0 375 374.999991" height="500" preserveAspectRatio="xMidYMid meet" version="1.0"><defs><filter x="0%" y="0%" width="100%" height="100%" id="3043a9de89"><feColorMatrix values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0" color-interpolation-filters="sRGB"/></filter><clipPath id="87c45d2925"><path d="M 168.308594 37 L 175 37 L 175 40.214844 L 168.308594 40.214844 Z M 168.308594 37 " clip-rule="nonzero"/></clipPath><clipPath id="71bbf2985b"><path d="M 199 12 L 206 12 L 206 40.214844 L 199 40.214844 Z M 199 12 " clip-rule="nonzero"/></clipPath><clipPath id="bf648af579"><path d="M 178 25 L 186 25 L 186 40.214844 L 178 40.214844 Z M 178 25 " clip-rule="nonzero"/></clipPath><clipPath id="f1412148b9"><path d="M 189 26 L 196 26 L 196 40.214844 L 189 40.214844 Z M 189 26 " clip-rule="nonzero"/></clipPath><clipPath id="b598ad6632"><path d="M 168.308594 4.964844 L 209.558594 4.964844 L 209.558594 38 L 168.308594 38 Z M 168.308594 4.964844 " clip-rule="nonzero"/></clipPath><mask id="b53ebdb112"><g filter="url(#3043a9de89)"><rect x="-37.5" width="450" fill="#000000" y="-37.499999" height="449.999989" fill-opacity="0.6"/></g></mask><clipPath id="7c8197c35e"><rect x="0" width="241" y="0" height="241"/></clipPath></defs><g clip-path="url(#87c45d2925)"><path fill="#ffffff" d="M 168.488281 38.660156 L 168.488281 40.144531 L 174.90625 40.144531 L 174.90625 37.6875 C 173.28125 38.394531 171.597656 38.753906 169.902344 38.753906 C 169.417969 38.753906 168.945312 38.71875 168.488281 38.660156 " fill-opacity="1" fill-rule="nonzero"/></g><g clip-path="url(#71bbf2985b)"><path fill="#ffffff" d="M 199.546875 40.144531 L 205.960938 40.144531 L 205.960938 12.910156 L 199.546875 21.546875 L 199.546875 40.144531 " fill-opacity="1" fill-rule="nonzero"/></g><g clip-path="url(#bf648af579)"><path fill="#ffffff" d="M 179.660156 34.417969 C 179.394531 34.683594 179.121094 34.933594 178.839844 35.175781 L 178.839844 40.144531 L 185.257812 40.144531 L 185.257812 25.75 L 185.242188 25.726562 C 183.699219 29.367188 181.824219 32.285156 179.660156 34.417969 " fill-opacity="1" fill-rule="nonzero"/></g><g clip-path="url(#f1412148b9)"><path fill="#ffffff" d="M 189.195312 30.371094 L 189.195312 40.144531 L 195.609375 40.144531 L 195.609375 26.84375 L 191.222656 32.75 L 189.195312 30.371094 " fill-opacity="1" fill-rule="nonzero"/></g><g clip-path="url(#b598ad6632)"><path fill="#ffffff" d="M 208.945312 4.996094 L 205.960938 5.75 L 202.453125 6.640625 L 204.648438 8.320312 L 202.710938 10.925781 L 199.546875 15.1875 L 195.609375 20.488281 L 191.019531 26.667969 L 189.195312 24.523438 L 187.199219 22.179688 L 185.257812 19.902344 L 183.847656 18.246094 L 183.132812 20.5 C 182.285156 23.167969 181.347656 25.347656 180.367188 27.132812 C 179.867188 28.039062 179.359375 28.84375 178.839844 29.554688 C 177.527344 31.382812 176.175781 32.609375 174.90625 33.425781 C 172.707031 34.839844 170.738281 35.03125 169.5625 34.96875 C 169.019531 34.941406 168.644531 34.863281 168.488281 34.820312 L 168.488281 37.488281 C 168.855469 37.539062 169.335938 37.585938 169.902344 37.585938 C 171.125 37.585938 172.757812 37.375 174.5625 36.570312 C 174.679688 36.515625 174.792969 36.457031 174.90625 36.402344 C 176.3125 35.726562 177.628906 34.785156 178.839844 33.589844 C 181.148438 31.316406 183.101562 28.113281 184.683594 24.003906 C 184.746094 23.835938 184.8125 23.671875 184.875 23.5 L 185.257812 23.949219 L 189.195312 28.570312 L 191.160156 30.878906 L 195.609375 24.890625 L 199.546875 19.589844 L 205.960938 10.953125 L 206.734375 9.914062 L 209.058594 11.691406 L 208.945312 4.996094 " fill-opacity="1" fill-rule="nonzero"/></g><path fill="#afdbb6" d="M 187.5 322.5 C 262.058594 322.5 322.5 262.058594 322.5 187.5 C 322.5 112.941406 262.058594 52.5 187.5 52.5 C 112.941406 52.5 52.5 112.941406 52.5 187.5 C 52.5 262.058594 112.941406 322.5 187.5 322.5 Z M 187.5 322.5 " fill-opacity="1" fill-rule="evenodd"/><g mask="url(#b53ebdb112)"><g transform="matrix(1, 0, 0, 1, 67, 67)"><g clip-path="url(#7c8197c35e)"><path fill="#009111" d="M 120.507812 228.171875 C 179.96875 228.171875 228.171875 179.96875 228.171875 120.507812 C 228.171875 61.050781 179.96875 12.847656 120.507812 12.847656 C 61.050781 12.847656 12.847656 61.050781 12.847656 120.507812 C 12.847656 179.96875 61.050781 228.171875 120.507812 228.171875 Z M 120.507812 228.171875 " fill-opacity="1" fill-rule="evenodd"/></g></g></g><path fill="#009111" d="M 189.667969 256.933594 C 228.066406 256.933594 259.191406 225.804688 259.191406 187.40625 C 259.191406 149.011719 228.066406 117.882812 189.667969 117.882812 C 151.269531 117.882812 120.144531 149.011719 120.144531 187.40625 C 120.144531 225.804688 151.269531 256.933594 189.667969 256.933594 Z M 189.667969 256.933594 " fill-opacity="1" fill-rule="evenodd"/></svg></span>
        </div>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="giPxcleVwr gp-relative gp-flex gp-flex-col"
    >
      
    <gp-estimate-date>
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtjPRx6Q7S"
        class="gtjPRx6Q7S {% if product %} !gp-hidden trigger-hidden-class {% endif %} undefined"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text setting-estimate-date="%7B%22background%22%3A%7B%22desktop%22%3A%7B%22attachment%22%3A%22scroll%22%2C%22color%22%3A%22transparent%22%2C%22image%22%3A%7B%22height%22%3A0%2C%22src%22%3A%22%22%2C%22width%22%3A0%7D%2C%22position%22%3A%7B%22x%22%3A50%2C%22y%22%3A50%7D%2C%22repeat%22%3A%22no-repeat%22%2C%22size%22%3A%22cover%22%2C%22type%22%3A%22color%22%7D%7D%2C%22customFormat%22%3A%22Ships%20in%2024%2F48%20Hours%22%2C%22customText%22%3A%22Only%2039%20Left%20In%20Stock%3A%22%2C%22enableCustomText%22%3Atrue%2C%22estimateTime%22%3A5%2C%22globalSize%22%3A%7B%22desktop%22%3A%7B%22width%22%3A%22100%25%22%7D%7D%2C%22ifOutOfStock%22%3A%22hide%22%2C%22maxEstimate%22%3A12%2C%22minEstimate%22%3A6%2C%22translate%22%3A%22customText%22%2C%22typeEstimate%22%3A%22specific%22%2C%22typeFormat%22%3A%22Custom%22%7D"
          class="estimate-date-container  gp-text-instant"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          
    <span
      [object Object]
      
      style="--fs:normal;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:14px;--size-tablet:13px;--size-mobile:14px;--lh:122%;--lh-tablet:122%;--lh-mobile:122%;--ls:normal;--weight:bold;--c:#151515;word-break:break-word;overflow:hidden"
      element-attrs='{"pageContext":{"pageType":"GP_PRODUCT","sectionName":"","isPreviewing":false,"isOptimizePlan":false,"isTranslateWithLocale":false,"isLazyLoadSection":true,"isLazyLoadImage":true,"hasCollectionHandle":true,"numberOfProductOfProductList":0,"pageBackground":"","fontType":"google","primaryLocale":"","showPriceCurrency":false,"enableLazyLoadImage":true,"mode":"PAGE"},"setting":{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"customFormat":"Ships in 24/48 Hours","customText":"Only 39 Left In Stock:","enableCustomText":true,"estimateTime":5,"globalSize":{"desktop":{"width":"100%"}},"ifOutOfStock":"hide","maxEstimate":12,"minEstimate":6,"translate":"customText","typeEstimate":"specific","typeFormat":"Custom"},"isReact":false,"builderProps":{"uid":"gtjPRx6Q7S","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"1px 1px 1px 1px"}}},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_PRODUCT","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"link":false,"margin":{"bottom":0},"padding":{"bottom":"0px","top":"0px"}},"mobile":{"link":false,"margin":{"bottom":0},"padding":{"bottom":"0px","top":"0px"}}}},"label":"Delivery Date","settings":{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"customFormat":"Ships in 24/48 Hours","customText":"Only 39 Left In Stock:","enableCustomText":true,"estimateTime":5,"globalSize":{"desktop":{"width":"100%"}},"ifOutOfStock":"hide","maxEstimate":12,"minEstimate":6,"translate":"customText","typeEstimate":"specific","typeFormat":"Custom"},"styles":{"align":{"desktop":"left"},"typoCustom":{"attrs":{"bold":true,"color":"#151515"},"custom":{"fontFamily":{"type":"google","value":"Assistant"},"fontSize":{"desktop":"14px","mobile":"14px","tablet":"13px"},"fontStyle":"normal","fontWeight":"600","hasShadowText":false,"letterSpacing":{"desktop":"normal"},"lineHeight":{"desktop":"122%","mobile":"122%","tablet":"122%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-2"},"typoDate":{"attrs":{"bold":true,"color":"#00237E"},"custom":{"fontFamily":{"type":"google","value":"Assistant"},"fontSize":{"desktop":"14px","mobile":"14px","tablet":"13px"},"fontStyle":"normal","fontWeight":"700","hasShadowText":false,"letterSpacing":{"desktop":"normal"},"lineHeight":{"desktop":"122%","mobile":"122%","tablet":"122%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-2"}},"tag":"EstimateDate","uid":"gtjPRx6Q7S","childrens":[],"type":"component"}},"textWithTranslate":"{{ section.settings.ggtjPRx6Q7S_customText }}"}'
    >
      {{ section.settings.ggtjPRx6Q7S_customText }}
    </span>
   
    <span
      [object Object]
      class="estimate-date-main"
      style="--fs:normal;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:14px;--size-tablet:13px;--size-mobile:14px;--lh:122%;--lh-tablet:122%;--lh-mobile:122%;--ls:normal;--weight:bold;--c:#00237E;word-break:break-word;overflow:hidden"
      element-attrs='undefined'
    >
      Ships in 24/48 Hours
    </span>
  
        </div>
      </div>
    </div>
    
    </gp-estimate-date>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-estimate-date-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    {%- assign total_combinations = 1 -%}
    {% for option in product.options_with_values %}{%- assign total_combinations = total_combinations | times: option.values.size -%}{% endfor %}
    {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
      assign is_in_stock = variant.available
    -%}
    <gp-product-button
      
      gp-data-wrapper="true"
      gp-href=""
      class="gp-product-button"
      gp-label-out-of-stock="{{ section.settings.ggAxOoIPExM_outOfStockLabel }}"
      gp-label-unavailable="{{ section.settings.ggAxOoIPExM_unavailableLabel }}"
      gp-data='{"styles":{"errorTypo":{"attrs":{"color":"error"},"type":"paragraph-2"},"successTypo":{"attrs":{"color":"success"},"type":"paragraph-2"}},"setting":{"errorType":"built-in","actionEffect":"continue-shopping","enableMessage":true,"label":"➜ ADD TO CART NOW","errorMessage":"{{ section.settings.ggAxOoIPExM_errorMessage| escape | replace: '&quot;', '\"' }}","successMessage":"{{ section.settings.ggAxOoIPExM_successMessage| escape | replace: '&quot;', '\"' }}","outOfStockLabel":"Out of stock","customURL":{"link":""},"variantSelectionRequiredMessage":""},"variantID":"{{variant.id}}","disabled":"{{variant.available}}","totalVariant":"{{total_combinations}}"}'
      gp-enable-third-partycart="{{shop.metafields.GEMPAGES.enableThirdPartyCart}}"
    >
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:12px;--pl-mobile:0px;--pb-mobile:9px;--pr-mobile:0px;--ta:left" class="{% unless variant.available %} !gp-hidden {% endunless %}">
        <style>[data-id="gAxOoIPExM"].gp-button-base::before, [data-id="gAxOoIPExM-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
  
    }
  
      
  [data-id="gAxOoIPExM"]:hover::before, [data-id="gAxOoIPExM-interaction"]:hover::before {
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
  }</style>
        
        <button
          data-id="gAxOoIPExM" dataId="gAxOoIPExM" data-state="idle" aria-label="➜ ADD TO CART NOW"
          name="add" gp-data-hidden="{% unless variant.available %}true{% endunless %}"
          type="submit"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:15px;--pb-mobile:15px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--hvr-bblr:999999px;--hvr-bbrr:999999px;--hvr-btlr:999999px;--hvr-btrr:999999px;--shadow:none;--hvr-bg:#DBB911;--bg:#FFD814;--hvr-c:#000000;--c:#151515;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:19px;--size-tablet:19px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--weight:bold"
          class="gp-button-atc tcustomizer-submit-button gAxOoIPExM gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  undefined"
        >
        
  <svg
    class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
  >
    <circle
      class="gp-opacity-25"
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="4"
    ></circle>
    <path
      class="gp-opacity-75"
      fill="currentColor"
      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
    ></path>
  </svg>

        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:19px;--size-tablet:19px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggAxOoIPExM_label }}
    </span>
        </div>
        
    
  <div style="--mr:2px;--ml:2px;display:block !important"></div>

    
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:12px;--pl-mobile:0px;--pb-mobile:9px;--pr-mobile:0px;--ta:left" class="{% if variant.available %} !gp-hidden {% endif %}">
        <style>[data-id="gAxOoIPExM-sold-out"].gp-button-base::before, [data-id="gAxOoIPExM-sold-out-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
  
    }
  
      
  [data-id="gAxOoIPExM-sold-out"]:hover::before, [data-id="gAxOoIPExM-sold-out-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gAxOoIPExM-sold-out" dataId="gAxOoIPExM-sold-out" data-state="idle" aria-label="{{ section.settings.ggAxOoIPExM_outOfStockLabel }}"
          gp-data-hidden="{% if variant.available %}true{% endif %}"
          type="button"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:15px;--pb-mobile:15px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--hvr-bblr:999999px;--hvr-bbrr:999999px;--hvr-btlr:999999px;--hvr-btrr:999999px;--shadow:none;--bg:#FFD814;--hvr-bg:#FFD814;--c:#151515;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:19px;--size-tablet:19px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--weight:bold"
          class="gp-cursor-default gp-opacity-30 btn-disabled gp-button-sold-out gAxOoIPExM-sold-out gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:19px;--size-tablet:19px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggAxOoIPExM_outOfStockLabel }}
    </span>
        </div>
        
    
  <div style="--mr:2px;--ml:2px;display:block !important"></div>

    
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    <div
      role="presentation"
      data-id="gxhBhSq681"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:5px;--mb-mobile:5px;--pt-mobile:0px;--pl-mobile:12px;--pb-mobile:0px;--pr-mobile:12px;--ta:center"
      class="gp-group/image gp-relative force-publish-1782281279052 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gxhBhSq681"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggxhBhSq681_srcSet_desktop_src }}" srcset="{{ section.settings.ggxhBhSq681_srcSet_desktop_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggxhBhSq681_srcSet_desktop_src }}" srcset="{{ section.settings.ggxhBhSq681_srcSet_desktop_src }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ section.settings.ggxhBhSq681_srcSet_desktop_src }}" data-src="{{ section.settings.ggxhBhSq681_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:343px;--w-tablet:343px;--w-mobile:290px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  