
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-603346966457418455.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-603346966457418455.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-603346966457418455.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-603346966457418455.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-603346966457418455.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-603346966457418455.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-603346966457418455.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-603346966457418455.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-603346966457418455.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-603346966457418455.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-603346966457418455.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-603346966457418455.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-603346966457418455.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-603346966457418455.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-603346966457418455.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-603346966457418455.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-603346966457418455.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-603346966457418455.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-603346966457418455.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-603346966457418455.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-603346966457418455.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-603346966457418455.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-603346966457418455.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-603346966457418455.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-603346966457418455.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-603346966457418455.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-603346966457418455.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-603346966457418455.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-603346966457418455.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-603346966457418455.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-603346966457418455.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-603346966457418455.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-603346966457418455.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-603346966457418455.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-603346966457418455.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-603346966457418455.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-603346966457418455.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-603346966457418455.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-603346966457418455.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-603346966457418455.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-603346966457418455.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-603346966457418455.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-603346966457418455.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-603346966457418455.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-603346966457418455.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-603346966457418455.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-603346966457418455.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-603346966457418455.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-603346966457418455.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-603346966457418455.gps.gpsil [style*="--bga-tablet:"]{background-attachment:var(--bga-tablet)}.gps-603346966457418455.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-603346966457418455.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-603346966457418455.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-603346966457418455.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-603346966457418455.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-603346966457418455.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-603346966457418455.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-603346966457418455.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-603346966457418455.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-603346966457418455.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-603346966457418455.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-603346966457418455.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-603346966457418455.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-603346966457418455.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-603346966457418455.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-603346966457418455.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-603346966457418455.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-603346966457418455.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-603346966457418455.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-603346966457418455.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-603346966457418455.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-603346966457418455.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-603346966457418455.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-603346966457418455.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-603346966457418455.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-603346966457418455.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-603346966457418455.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-603346966457418455.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-603346966457418455.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-603346966457418455.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-603346966457418455.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-603346966457418455.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-603346966457418455.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-603346966457418455.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-603346966457418455.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-603346966457418455 .gp-relative{position:relative}.gps-603346966457418455 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-603346966457418455 .gp-mb-0{margin-bottom:0}.gps-603346966457418455 .gp-inline-block{display:inline-block}.gps-603346966457418455 .gp-flex{display:flex}.gps-603346966457418455 .gp-grid{display:grid}.gps-603346966457418455 .gp-contents{display:contents}.gps-603346966457418455 .\!gp-hidden{display:none!important}.gps-603346966457418455 .gp-hidden{display:none}.gps-603346966457418455 .gp-h-auto{height:auto}.gps-603346966457418455 .gp-h-full{height:100%}.gps-603346966457418455 .gp-w-full{width:100%}.gps-603346966457418455 .gp-max-w-full{max-width:100%}.gps-603346966457418455 .gp-flex-none{flex:none}.gps-603346966457418455 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-603346966457418455 .gp-flex-col{flex-direction:column}.gps-603346966457418455 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-603346966457418455 .gp-duration-200{transition-duration:.2s}.gps-603346966457418455 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-603346966457418455 .tablet\:\!gp-hidden{display:none!important}.gps-603346966457418455 .tablet\:gp-hidden{display:none}.gps-603346966457418455 .tablet\:gp-h-auto{height:auto}.gps-603346966457418455 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-603346966457418455 .mobile\:\!gp-hidden{display:none!important}.gps-603346966457418455 .mobile\:gp-hidden{display:none}.gps-603346966457418455 .mobile\:gp-h-auto{height:auto}.gps-603346966457418455 .mobile\:gp-flex-none{flex:none}}.gps-603346966457418455 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#EE9A94","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"geQWnTPWKV"}' data-id="geQWnTPWKV" id="geQWnTPWKV" data-same-height-subgrid-container class="geQWnTPWKV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#EE9A94;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gRcQ7Hu1s2 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#EE9A94","image":{"backupFileKey":"","height":342,"src":"","storage":"FILE_CONTENT","width":1922},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"scroll","color":"#EE9A94","image":{"backupFileKey":"","height":342,"src":"","storage":"FILE_CONTENT","width":1922},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"tablet":{"attachment":"scroll","color":"#FCFCF9","image":{"backupFileKey":"","height":342,"src":"","storage":"FILE_CONTENT","width":1922},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gpXdRc70wl"}' data-id="gpXdRc70wl" id="gpXdRc70wl" data-same-height-subgrid-container class="gpXdRc70wl gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:85px;--pt:32px;--pl:110px;--pb:32px;--pr:85px;--mb-mobile:0px;--pt-mobile:25px;--pl-mobile:32px;--pb-mobile:64px;--pr-mobile:32px;--mb-tablet:0px;--pt-tablet:67px;--pl-tablet:32px;--pb-tablet:64px;--pr-tablet:32px;--cg:90px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:1281px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EE9A94;--bgc-tablet:#FCFCF9;--bgc-mobile:#EE9A94;--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-tablet:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--o:0"
      class="gNAst4h9WZ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gdAXTmYNNl"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:53px;--pb-mobile:16px;--ta:center"
      class="gp-group/image gp-relative force-publish-1781938689900 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gdAXTmYNNl"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggdAXTmYNNl_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY1IiBoZWlnaHQ9IjYxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjUtNjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2NSIgaGVpZ2h0PSI2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY1IiBoZWlnaHQ9IjYxIiBmaWxsPSJ1cmwoI2ctMTY1LTYxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTY1IiB0bz0iMTY1IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggdAXTmYNNl_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY1IiBoZWlnaHQ9IjYxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjUtNjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2NSIgaGVpZ2h0PSI2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY1IiBoZWlnaHQ9IjYxIiBmaWxsPSJ1cmwoI2ctMTY1LTYxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTY1IiB0bz0iMTY1IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggdAXTmYNNl_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY1IiBoZWlnaHQ9IjYxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjUtNjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2NSIgaGVpZ2h0PSI2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY1IiBoZWlnaHQ9IjYxIiBmaWxsPSJ1cmwoI2ctMTY1LTYxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTY1IiB0bz0iMTY1IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggdAXTmYNNl_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:250px;--w-tablet:125px;--w-mobile:167px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gX3BDxKCDi"
        class="gX3BDxKCDi"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggX3BDxKCDi_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--o:1"
      class="gP0yQo-Fin gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gJPEpO-pGf"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:25px;--pl-mobile:0px;--pb-mobile:16px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1781938689901 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gJPEpO-pGf"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggJPEpO-pGf_srcSet_mobile_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTg4IiBoZWlnaHQ9IjYwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xODgtNjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE4OCIgaGVpZ2h0PSI2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTg4IiBoZWlnaHQ9IjYwIiBmaWxsPSJ1cmwoI2ctMTg4LTYwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTg4IiB0bz0iMTg4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggJPEpO-pGf_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTg4IiBoZWlnaHQ9IjYwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xODgtNjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE4OCIgaGVpZ2h0PSI2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTg4IiBoZWlnaHQ9IjYwIiBmaWxsPSJ1cmwoI2ctMTg4LTYwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTg4IiB0bz0iMTg4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggJPEpO-pGf_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTg4IiBoZWlnaHQ9IjYwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xODgtNjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE4OCIgaGVpZ2h0PSI2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTg4IiBoZWlnaHQ9IjYwIiBmaWxsPSJ1cmwoI2ctMTg4LTYwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTg4IiB0bz0iMTg4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggJPEpO-pGf_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:250px;--w-tablet:250px;--w-mobile:167px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYSoxxmRYH"
        class="gYSoxxmRYH"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:11px;--pt-tablet:11px;--pt-mobile:11px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggYSoxxmRYH_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--o:2"
      class="gaUeizJwbh gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gxKM3zCynK"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:25px;--pl-mobile:0px;--pb-mobile:18px;--pr-mobile:0px;--ta:center;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1781938689902 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gxKM3zCynK"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggxKM3zCynK_srcSet_mobile_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY1IiBoZWlnaHQ9IjYxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjUtNjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2NSIgaGVpZ2h0PSI2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY1IiBoZWlnaHQ9IjYxIiBmaWxsPSJ1cmwoI2ctMTY1LTYxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTY1IiB0bz0iMTY1IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggxKM3zCynK_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY1IiBoZWlnaHQ9IjYxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjUtNjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2NSIgaGVpZ2h0PSI2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY1IiBoZWlnaHQ9IjYxIiBmaWxsPSJ1cmwoI2ctMTY1LTYxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTY1IiB0bz0iMTY1IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggxKM3zCynK_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY1IiBoZWlnaHQ9IjYxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjUtNjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2NSIgaGVpZ2h0PSI2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY1IiBoZWlnaHQ9IjYxIiBmaWxsPSJ1cmwoI2ctMTY1LTYxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTY1IiB0bz0iMTY1IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggxKM3zCynK_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:250px;--w-tablet:250px;--w-mobile:167px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMiRCe5hBz"
        class="gMiRCe5hBz"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggMiRCe5hBz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
      <style id="custom-css-gpXdRc70wl">
        .gpXdRc70wl {

}

@media only screen and (max-width: 767px) {
    .gpXdRc70wl{
        border-radius: 0 !important;
    }
}
      </style>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-603346966457418455 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zooro-co/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=603346966339912407&sectionId=603346966457418455)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggdAXTmYNNl_srcSet_desktop_src","label":"ggdAXTmYNNl_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0703/7363/8402/files/gempages_572355572314145944-717828e8-5053-431f-a737-f915ebdfd5c8.svg"},{"type":"html","id":"ggX3BDxKCDi_text","label":"ggX3BDxKCDi_text","default":"<p><span style=\"color:#FFFFFF;font-size:14px;\">“Out of all the sculpting tees we tested, none came close to the Eloa 3D Compression Tee.</span><br><span style=\"color:#FFFFFF;font-size:14px;\">It’s the fastest ‘before &amp; after’ we’ve seen from a tee.”</span></p>"},{"type":"html","id":"ggJPEpO-pGf_srcSet_desktop_src","label":"ggJPEpO-pGf_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0703/7363/8402/files/gempages_572355572314145944-2deafe9e-fbb2-4d4a-bfd1-c58783a8311a.svg"},{"type":"html","id":"ggJPEpO-pGf_srcSet_mobile_src","label":"ggJPEpO-pGf_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0703/7363/8402/files/gempages_572355572314145944-2deafe9e-fbb2-4d4a-bfd1-c58783a8311a.svg"},{"type":"html","id":"ggYSoxxmRYH_text","label":"ggYSoxxmRYH_text","default":"<p><span style=\"color:#FFFFFF;font-size:14px;\">“From basic outfit to sculpted silhouette — in seconds.</span><br><span style=\"color:#FFFFFF;font-size:14px;\">This is the kind of shaping you notice immediately.”</span></p>"},{"type":"html","id":"ggxKM3zCynK_srcSet_desktop_src","label":"ggxKM3zCynK_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0703/7363/8402/files/gempages_572355572314145944-1a4f4c80-c1cb-4a39-a8c7-a1d1d33e8fe3.svg"},{"type":"html","id":"ggxKM3zCynK_srcSet_mobile_src","label":"ggxKM3zCynK_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0703/7363/8402/files/gempages_572355572314145944-1a4f4c80-c1cb-4a39-a8c7-a1d1d33e8fe3.svg"},{"type":"html","id":"ggMiRCe5hBz_text","label":"ggMiRCe5hBz_text","default":"<p><span style=\"color:#FFFFFF;\">“3D sculpting zones that actually show results.</span><br><span style=\"color:#FFFFFF;\">Smoother belly, defined waist, and a cleaner silhouette under clothes.”</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}