
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-625369882992575027.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-625369882992575027.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-625369882992575027.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-625369882992575027.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-625369882992575027.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-625369882992575027.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-625369882992575027.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-625369882992575027.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-625369882992575027.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-625369882992575027.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-625369882992575027.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-625369882992575027.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-625369882992575027.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-625369882992575027.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-625369882992575027.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-625369882992575027.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-625369882992575027.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-625369882992575027.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-625369882992575027.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-625369882992575027.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-625369882992575027.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-625369882992575027.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-625369882992575027.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-625369882992575027.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-625369882992575027.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-625369882992575027.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-625369882992575027.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-625369882992575027.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-625369882992575027.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-625369882992575027.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-625369882992575027.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-625369882992575027.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-625369882992575027.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-625369882992575027.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-625369882992575027.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-625369882992575027.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-625369882992575027.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-625369882992575027.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-625369882992575027.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-625369882992575027.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-625369882992575027.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-625369882992575027.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-625369882992575027.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-625369882992575027.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-625369882992575027.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-625369882992575027.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-625369882992575027.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-625369882992575027.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-625369882992575027.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-625369882992575027.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-625369882992575027.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-625369882992575027.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-625369882992575027.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-625369882992575027.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-625369882992575027.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-625369882992575027.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-625369882992575027.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-625369882992575027.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-625369882992575027.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-625369882992575027.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-625369882992575027.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-625369882992575027.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-625369882992575027.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-625369882992575027.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-625369882992575027.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-625369882992575027.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-625369882992575027.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-625369882992575027.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-625369882992575027.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-625369882992575027.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-625369882992575027.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-625369882992575027.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-625369882992575027.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-625369882992575027.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-625369882992575027.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-625369882992575027.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-625369882992575027.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-625369882992575027.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-625369882992575027.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-625369882992575027.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-625369882992575027.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-625369882992575027.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-625369882992575027.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-625369882992575027.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-625369882992575027.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-625369882992575027.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-625369882992575027.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-625369882992575027 .gp-relative{position:relative}.gps-625369882992575027 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-625369882992575027 .gp-mb-0{margin-bottom:0}.gps-625369882992575027 .gp-inline-block{display:inline-block}.gps-625369882992575027 .gp-flex{display:flex}.gps-625369882992575027 .gp-inline-flex{display:inline-flex}.gps-625369882992575027 .gp-grid{display:grid}.gps-625369882992575027 .gp-contents{display:contents}.gps-625369882992575027 .\!gp-hidden{display:none!important}.gps-625369882992575027 .gp-hidden{display:none}.gps-625369882992575027 .gp-h-auto{height:auto}.gps-625369882992575027 .gp-h-full{height:100%}.gps-625369882992575027 .gp-w-full{width:100%}.gps-625369882992575027 .gp-max-w-full{max-width:100%}.gps-625369882992575027 .gp-flex-none{flex:none}.gps-625369882992575027 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-625369882992575027 .gp-flex-col{flex-direction:column}.gps-625369882992575027 .gp-items-center{align-items:center}.gps-625369882992575027 .gp-justify-center{justify-content:center}.gps-625369882992575027 .gp-overflow-hidden{overflow:hidden}.gps-625369882992575027 .gp-break-words{overflow-wrap:break-word}.gps-625369882992575027 .gp-text-center{text-align:center}.gps-625369882992575027 .gp-leading-\[0\]{line-height:0}.gps-625369882992575027 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-625369882992575027 .gp-no-underline{text-decoration-line:none}.gps-625369882992575027 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-625369882992575027 .gp-duration-200{transition-duration:.2s}.gps-625369882992575027 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-625369882992575027 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-625369882992575027 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-625369882992575027 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-625369882992575027 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-625369882992575027 .tablet\:\!gp-hidden{display:none!important}.gps-625369882992575027 .tablet\:gp-hidden{display:none}.gps-625369882992575027 .tablet\:gp-h-auto{height:auto}.gps-625369882992575027 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-625369882992575027 .mobile\:\!gp-hidden{display:none!important}.gps-625369882992575027 .mobile\:gp-hidden{display:none}.gps-625369882992575027 .mobile\:gp-h-auto{height:auto}.gps-625369882992575027 .mobile\:gp-flex-none{flex:none}}.gps-625369882992575027 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-625369882992575027 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-625369882992575027 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-625369882992575027 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-625369882992575027 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-625369882992575027 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtjhgIGaV2Q.woff) format('woff');
}
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtgFgIGaV2Q.woff) format('woff');
}
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtmZgIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzamW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzZmW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzaGW5Kb8VZA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzamW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzZmW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzaGW5Kb8VZA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzamW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzZmW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzaGW5Kb8VZA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzamW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzZmW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzaGW5Kb8VZA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F7F7F7","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g3Q4kwlaaB"}' data-id="g3Q4kwlaaB" id="g3Q4kwlaaB" data-same-height-subgrid-container class="g3Q4kwlaaB gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:152px;--pl:15px;--pb:110px;--pr:15px;--pt-mobile:70px;--pl-mobile:0px;--pb-mobile:81px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F7F7F7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gQP3NaS3kZ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g_GgRkVf4y"}' data-id="g_GgRkVf4y" id="g_GgRkVf4y" data-same-height-subgrid-container class="g_GgRkVf4y gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pb:81px;--mb-mobile:0px;--pb-mobile:47px;--cg:51px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1252px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gLsjg1-xr- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVlnHaA4lI"
        class="gVlnHaA4lI"
        style="--ta:center;--ta-mobile:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:59px;--pl-mobile:34px;--pr-mobile:39px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:657px;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--ff:var(--g-font-fonntscom-Ivy-Presto-Headline-Semi-Bold, 'fonntscom-Ivy-Presto-Headline-Semi-Bold'), var(--g-font-heading, heading);--weight:400;--size:45px;--size-tablet:45px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggVlnHaA4lI_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gKNwwYKhWu"}' data-id="gKNwwYKhWu" id="gKNwwYKhWu" data-same-height-subgrid-container class="gKNwwYKhWu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:40px;--pt-mobile:34px;--pl-mobile:20px;--pr-mobile:20px;--cg:13px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gYUTNyDEqv gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gbfCPhlz5S" class="gp-leading-[0] gbfCPhlz5S" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gbfCPhlz5S" class="icon-wrapper gp-inline-flex gp-overflow-hidden gbfCPhlz5S " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:56px;--w-tablet:56px;--w-mobile:56px;--h:56px;--h-tablet:56px;--h-mobile:56px;--minw:56px;--minw-tablet:56px;--minw-mobile:56px;--height-desktop:56px;--height-tablet:56px;--height-mobile:56px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="531051095015818025" width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="0.5" y="0.5" width="55" height="55" rx="27.5" fill="white"/>
<rect x="0.5" y="0.5" width="55" height="55" rx="27.5" stroke="#D7D7D7"/>
<path d="M46.335 15.2826L43.5369 15.4555C42.4748 15.5208 41.4514 15.771 40.5028 16.1792C40.3596 16.2408 40.2498 16.3617 40.2075 16.5109C39.708 18.2706 38.6548 19.8537 37.1786 20.9908C37.071 21.0739 37.1192 21.2461 37.2543 21.2579C40.1206 21.5021 42.958 20.3747 44.8766 18.1808L46.7224 16.0708C47.0007 15.7524 46.7573 15.2566 46.335 15.2826Z" fill="#00237E"/>
<path d="M14.3691 38.3135C15.1625 37.3509 16.1577 36.5567 17.2948 35.9994C17.4677 35.914 17.5137 35.6854 17.386 35.5407C16.5704 34.6107 15.5617 33.8426 14.4054 33.3L11.8664 32.1103C11.4834 31.9307 11.0745 32.3025 11.2162 32.7003L12.1566 35.3418C12.5537 36.4573 13.1571 37.4644 13.9178 38.3239C14.0388 38.4597 14.2533 38.4538 14.3691 38.3135Z" fill="#00237E"/>
<path d="M25.3451 36.7126C24.9161 35.8093 24.6897 34.8089 24.6897 33.8092V30.0002C24.6897 29.857 24.5732 29.7405 24.4299 29.7405C24.2867 29.7405 24.1702 29.857 24.1702 30.0002V33.8092C24.1702 34.7963 24.375 35.7849 24.7654 36.6926H18.0278C18.4182 35.7849 18.6231 34.7963 18.6231 33.8092V27.1651C18.6231 26.178 18.4175 25.1886 18.0271 24.2809H22.1188C22.262 24.2809 22.3785 24.1644 22.3785 24.0212C22.3785 23.8779 22.262 23.7614 22.1188 23.7614H17.6211C17.4779 23.7614 17.3613 23.6449 17.3613 23.5017V22.9903C17.3613 22.847 17.4779 22.7305 17.6204 22.7305H17.6211H21.997C22.1403 22.7305 22.2568 22.614 22.2568 22.4708C22.2568 22.3275 22.1403 22.211 21.997 22.211H18.0271C18.4175 21.3033 18.6223 20.3147 18.6223 19.3276V16.4345C18.6223 16.3121 18.7092 16.2052 18.8286 16.18L23.857 15.129C23.9334 15.1127 24.0128 15.132 24.0737 15.1817C24.1345 15.2315 24.1694 15.3049 24.1694 15.3836V19.3276C24.1694 20.2672 24.3476 21.1853 24.7001 22.0566C24.7535 22.1895 24.9049 22.254 25.0385 22.1999C25.1714 22.1464 25.236 21.995 25.1818 21.8614C24.8552 21.0524 24.689 20.1997 24.689 19.3268V15.3836C24.689 15.1476 24.5843 14.9272 24.401 14.7787C24.2177 14.6303 23.9809 14.5724 23.7501 14.6206L18.7225 15.6723C18.3633 15.7473 18.1028 16.0679 18.1028 16.4353V19.3283C18.1028 20.3281 17.8764 21.3285 17.4474 22.2318C17.1008 22.3104 16.8411 22.6207 16.8411 22.991V23.5024C16.8411 23.8727 17.1008 24.1822 17.4474 24.2617C17.8764 25.1642 18.1028 26.1661 18.1028 27.1658V33.8099C18.1028 34.7109 17.918 35.6134 17.5677 36.4439C15.2454 37.5631 13.5539 39.711 13.0351 42.2745L12.5282 44.7802C12.4518 45.1579 12.8689 45.44 13.1917 45.2285L15.3292 43.8257C16.4878 43.065 17.4148 42.0415 18.0568 40.8651C18.0872 41.1249 18.1028 41.3854 18.1028 41.6467V45.8126C18.1028 45.9558 18.2193 46.0723 18.3626 46.0723C18.5058 46.0723 18.6223 45.9558 18.6223 45.8126V41.6467C18.6223 40.6595 18.4175 39.6702 18.0271 38.7625H24.7654C24.375 39.6695 24.1702 40.6595 24.1702 41.6467V45.8126C24.1702 45.9558 24.2867 46.0723 24.4299 46.0723C24.5732 46.0723 24.6897 45.9558 24.6897 45.8126V41.6467C24.6897 40.6477 24.9168 39.6457 25.3451 38.7425C25.6917 38.6638 25.9514 38.3536 25.9514 37.9832V37.4718C25.9514 37.1015 25.6917 36.7913 25.3451 36.7126ZM25.4319 37.9832C25.4319 38.1265 25.3154 38.243 25.1721 38.243H17.6204C17.4771 38.243 17.3606 38.1265 17.3606 37.9832V37.4718C17.3606 37.3286 17.4771 37.2121 17.6204 37.2121H25.1721C25.3154 37.2121 25.4319 37.3286 25.4319 37.4718V37.9832Z" fill="#00237E"/>
<path d="M36.2694 21.5311C36.616 21.4525 36.8758 21.1422 36.8758 20.7719V20.5685C38.9969 18.9298 40.1785 16.3351 39.9982 13.6387L39.8319 11.1561C39.8067 10.782 39.3428 10.6239 39.0942 10.9045L37.4465 12.7689C36.5232 13.8139 35.9042 15.0585 35.6141 16.3744V10.7078C35.6141 10.4495 35.4864 10.2091 35.2734 10.0636C35.0596 9.91811 34.7887 9.88843 34.549 9.98269L29.5207 11.9673C29.2208 12.0853 29.0271 12.3703 29.0271 12.6924V16.5978C29.0271 17.5975 28.8008 18.598 28.3718 19.5012C28.0252 19.5799 27.7654 19.8901 27.7654 20.2605V20.7719C27.7654 21.2016 28.115 21.5512 28.5447 21.5512H35.6905C35.3001 22.4589 35.0945 23.4482 35.0945 24.4353V31.0794C35.0945 32.0665 35.2994 33.0551 35.6898 33.9628H28.9522C29.3426 33.0551 29.5474 32.0665 29.5474 31.0794V24.4353C29.5474 23.774 29.4576 23.1164 29.2802 22.4796C29.2416 22.3416 29.0984 22.26 28.9603 22.2993C28.8223 22.3379 28.7414 22.4811 28.78 22.6192C28.9448 23.2107 29.0286 23.8215 29.0286 24.4353V28.3533C28.5128 26.4407 27.378 24.7151 25.7504 23.4771L23.5186 21.7798C23.1824 21.5237 22.7044 21.8013 22.7586 22.2199L23.1223 25.0001C23.5424 28.2093 25.6346 30.9539 28.6182 32.209C28.7221 32.2528 28.8297 32.2557 28.9284 32.229C28.823 32.8354 28.6367 33.4276 28.3733 33.9828C28.0267 34.0615 27.7669 34.3717 27.7669 34.7421V35.2534C27.7669 35.6238 28.0267 35.9333 28.3733 36.0127C28.8023 36.9152 29.0286 37.9171 29.0286 38.9169V45.8125C29.0286 45.9558 29.1451 46.0723 29.2884 46.0723C29.4316 46.0723 29.5482 45.9558 29.5482 45.8125V38.9161C29.5482 37.929 29.3433 36.9397 28.9529 36.032H35.6912C35.3009 36.9389 35.096 37.929 35.096 38.9161V45.8125C35.096 45.9558 35.2125 46.0723 35.3558 46.0723C35.499 46.0723 35.6155 45.9558 35.6155 45.8125V38.9161C35.6155 37.9171 35.8426 36.9152 36.2709 36.0119C36.6175 35.9333 36.8773 35.623 36.8773 35.2527V34.7413C36.8773 34.371 36.6175 34.0607 36.2709 33.9821C35.8419 33.0788 35.6155 32.0784 35.6155 31.0786V24.4346C35.6133 23.4356 35.8404 22.4336 36.2694 21.5311ZM29.5467 16.5971V12.6917C29.5467 12.5841 29.6112 12.4898 29.7107 12.4505L34.739 10.4658C34.8207 10.4339 34.9082 10.4436 34.9802 10.4926C35.0522 10.5416 35.0938 10.6202 35.0938 10.7071V16.5971C35.0938 17.5842 35.2986 18.5728 35.689 19.4805H28.9514C29.3418 18.5735 29.5467 17.5849 29.5467 16.5971ZM28.5447 21.0316C28.4015 21.0316 28.285 20.9151 28.285 20.7719V20.2605C28.285 20.1173 28.4015 20.0007 28.5447 20.0007H36.0965C36.2397 20.0007 36.3562 20.1173 36.3562 20.2605V20.7719C36.3562 20.9151 36.2397 21.0316 36.0965 21.0316H28.5447ZM36.3555 34.7413V35.2527C36.3555 35.3959 36.239 35.5124 36.0957 35.5124H28.5447C28.4015 35.5124 28.285 35.3959 28.285 35.2527V34.7413C28.285 34.5981 28.4015 34.4816 28.5447 34.4816H36.0965C36.239 34.4816 36.3555 34.5981 36.3555 34.7413Z" fill="#00237E"/>
<path d="M40.0206 38.8872L38.4427 37.7709C38.3254 37.6878 38.1636 37.716 38.0805 37.8333C37.9974 37.9505 38.0256 38.1123 38.1428 38.1955L39.7207 39.3117C39.766 39.3436 39.8187 39.3592 39.8706 39.3592C39.9523 39.3592 40.0324 39.3214 40.0829 39.2494C40.1653 39.1321 40.1378 38.9703 40.0206 38.8872Z" fill="#00237E"/>
<path d="M40.869 31.3354L39.0225 31.9062C38.8851 31.9485 38.8087 32.094 38.851 32.2313C38.8851 32.3426 38.9883 32.4146 39.0989 32.4146C39.1241 32.4146 39.1501 32.4109 39.1761 32.4027L41.0226 31.832C41.16 31.7897 41.2364 31.6442 41.1941 31.5069C41.1518 31.3703 41.0063 31.2931 40.869 31.3354Z" fill="#00237E"/>
<path d="M14.2533 27.5836C14.3038 27.6549 14.384 27.6935 14.4656 27.6935C14.5176 27.6935 14.5695 27.6779 14.6155 27.646L16.1934 26.5297C16.3107 26.4466 16.3381 26.2848 16.2558 26.1675C16.1726 26.0503 16.0108 26.0228 15.8936 26.1052L14.3157 27.2214C14.1984 27.3046 14.1702 27.4664 14.2533 27.5836Z" fill="#00237E"/>
<path d="M13.3129 20.1663L15.1595 20.737C15.1847 20.7452 15.2107 20.7489 15.2367 20.7489C15.3473 20.7489 15.4504 20.6776 15.4846 20.5656C15.5269 20.4283 15.4504 20.2828 15.3131 20.2405L13.4666 19.6697C13.3292 19.6274 13.1838 19.7039 13.1415 19.8412C13.0992 19.9785 13.1764 20.124 13.3129 20.1663Z" fill="#00237E"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="ghxtq74wbo gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gk8xk5MpC2"
        class="gk8xk5MpC2"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:18px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggk8xk5MpC2_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gC5_yxonLd"
        class="gC5_yxonLd"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:4px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:15px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#313131;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggC5_yxonLd_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gk3otWUfsD"}' data-id="gk3otWUfsD" id="gk3otWUfsD" data-same-height-subgrid-container class="gk3otWUfsD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:44px;--pt-mobile:34px;--pl-mobile:20px;--pr-mobile:20px;--cg:13px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gswMA9U1XS gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gL1m5f6W1y" class="gp-leading-[0] gL1m5f6W1y" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gL1m5f6W1y" class="icon-wrapper gp-inline-flex gp-overflow-hidden gL1m5f6W1y " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:56px;--w-tablet:56px;--w-mobile:56px;--h:56px;--h-tablet:56px;--h-mobile:56px;--minw:56px;--minw-tablet:56px;--minw-mobile:56px;--height-desktop:56px;--height-tablet:56px;--height-mobile:56px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="531051940621058857" width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="0.5" y="0.5" width="55" height="55" rx="27.5" fill="white"/>
<rect x="0.5" y="0.5" width="55" height="55" rx="27.5" stroke="#D7D7D7"/>
<g clip-path="url(#clip0_128_3644)">
<path d="M27.4999 13.4839C19.2602 13.4839 12.5806 19.983 12.5806 28C12.5806 36.0171 19.2602 42.5161 27.4999 42.5161C35.7397 42.5161 42.4193 36.0171 42.4193 28C42.4193 19.983 35.7397 13.4839 27.4999 13.4839ZM33.1751 35.6006L27.4999 31.5885L21.8247 35.6006L23.991 29.1091L18.3155 25.0968H25.3337L27.4999 18.6051L29.6661 25.0968H36.6844L31.0089 29.1091L33.1751 35.6006Z" fill="#F7F7F7"/>
<path d="M27.4999 13.4839C19.2602 13.4839 12.5806 19.983 12.5806 28C12.5806 36.0171 19.2602 42.5161 27.4999 42.5161C35.7397 42.5161 42.4193 36.0171 42.4193 28C42.4193 19.983 35.7397 13.4839 27.4999 13.4839ZM33.1751 35.6006L27.4999 31.5885L21.8247 35.6006L23.991 29.1091L18.3155 25.0968H25.3337L27.4999 18.6051L29.6661 25.0968H36.6844L31.0089 29.1091L33.1751 35.6006Z" fill="#F7F7F7"/>
<path d="M39.9761 26.8387C40.0131 27.2209 40.032 27.6079 40.0323 28L39.9761 26.8387Z" fill="#F7F7F7"/>
<path d="M27.5 10C17.2829 10 9 18.059 9 28C9 37.941 17.2829 46 27.5 46C37.7171 46 46 37.941 46 28C45.9889 18.0633 37.7128 10.0108 27.5 10ZM27.5 44.8387C17.942 44.8387 10.1935 37.2997 10.1935 28C10.1935 18.7003 17.942 11.1613 27.5 11.1613C37.058 11.1613 44.8065 18.7003 44.8065 28C44.7954 37.2951 37.0533 44.8279 27.5 44.8387Z" fill="#00237E"/>
<path d="M27.5 12.9032C18.9307 12.9032 11.9839 19.6623 11.9839 28C11.9839 36.3377 18.9307 43.0967 27.5 43.0967C36.0693 43.0967 43.0161 36.3377 43.0161 28C43.0065 19.6662 36.0652 12.9126 27.5 12.9032ZM27.5 41.9355C19.5898 41.9355 13.1774 35.6964 13.1774 28C13.1774 20.3036 19.5898 14.0645 27.5 14.0645C35.4102 14.0645 41.8226 20.3036 41.8226 28C41.8133 35.6927 35.4064 41.9264 27.5 41.9355Z" fill="#00237E"/>
<path d="M40.5692 26.7849C40.5386 26.4653 40.2475 26.2306 39.9194 26.2604C39.591 26.2901 39.3497 26.5734 39.3806 26.8926C39.4161 27.2615 39.4342 27.6337 39.4342 28C39.4342 28.3207 39.7014 28.5807 40.031 28.5807C40.3606 28.5807 40.6278 28.3207 40.6278 28C40.6289 27.5983 40.6091 27.1872 40.5692 26.7849Z" fill="#00237E"/>
<path d="M39.817 25.6613C40.1373 25.5851 40.3334 25.2706 40.255 24.9593C38.8263 19.2365 33.5526 15.2123 27.5001 15.2259C27.1705 15.2259 26.9033 15.4859 26.9033 15.8065C26.9033 16.1272 27.1705 16.3872 27.5001 16.3872C33.0022 16.3741 37.7965 20.0321 39.0955 25.2343C39.1605 25.494 39.3994 25.6772 39.6742 25.6775C39.7223 25.6775 39.7701 25.6721 39.817 25.6613Z" fill="#00237E"/>
<path d="M36.6838 24.5161H30.1012L28.0676 18.4258C27.9869 18.1874 27.7584 18.0264 27.5005 18.0264C27.2427 18.0264 27.0142 18.1874 26.9335 18.4258L24.8987 24.5161H18.3161C18.0576 24.5161 17.8286 24.678 17.7485 24.9173C17.6686 25.1566 17.756 25.4185 17.9653 25.5665L23.2902 29.3308L21.2566 35.4211C21.1761 35.6606 21.2636 35.9229 21.4728 36.0712C21.6823 36.2192 21.9658 36.2192 22.175 36.0709L27.5 32.3066L32.8249 36.0709C33.0341 36.2186 33.3171 36.2186 33.5263 36.0709C33.7352 35.9235 33.8229 35.6615 33.7434 35.4225L31.7097 29.3308L37.0347 25.5665C37.2439 25.4185 37.3313 25.1566 37.2515 24.9173C37.1713 24.678 36.9423 24.5161 36.6838 24.5161ZM30.6563 28.6387C30.4474 28.7864 30.36 29.0481 30.4395 29.2871L32.0396 34.0795L27.8502 31.1181C27.641 30.9701 27.3578 30.9701 27.1485 31.1181L22.9592 34.0795L24.5589 29.2871C24.6388 29.0484 24.5516 28.7867 24.343 28.6387L20.1525 25.6774H25.332C25.5905 25.6774 25.8195 25.5155 25.8993 25.2762L27.5 20.4842L29.1006 25.2762C29.1804 25.5155 29.4095 25.6774 29.6679 25.6774H34.8475L30.6563 28.6387Z" fill="#00237E"/>
</g>
<defs>
<clipPath id="clip0_128_3644">
<rect width="37" height="36" fill="white" transform="translate(9 10)"/>
</clipPath>
</defs>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gnVSvjZg_Q gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNapuf9NFw"
        class="gNapuf9NFw"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:18px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggNapuf9NFw_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gb3n_IwtQD"
        class="gb3n_IwtQD"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:4px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:15px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#313131;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggb3n_IwtQD_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gElPmFC461"}' data-id="gElPmFC461" id="gElPmFC461" data-same-height-subgrid-container class="gElPmFC461 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:45px;--pt-mobile:34px;--pl-mobile:20px;--pr-mobile:20px;--cg:13px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g4vupU9KN6 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gjXcU0uw8I" class="gp-leading-[0] gjXcU0uw8I" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gjXcU0uw8I" class="icon-wrapper gp-inline-flex gp-overflow-hidden gjXcU0uw8I " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:56px;--w-tablet:56px;--w-mobile:56px;--h:56px;--h-tablet:56px;--h-mobile:56px;--minw:56px;--minw-tablet:56px;--minw-mobile:56px;--height-desktop:56px;--height-tablet:56px;--height-mobile:56px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="531052054555132713" width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="0.5" y="0.5" width="55" height="55" rx="27.5" fill="white"/>
<rect x="0.5" y="0.5" width="55" height="55" rx="27.5" stroke="#D7D7D7"/>
<path d="M20.5742 15.4194C20.5525 15.3765 20.5217 15.3388 20.4839 15.3089C20.4461 15.2791 20.4023 15.2579 20.3555 15.2467C19.076 15.0466 17.7674 15.3205 16.6755 16.017C13.8323 18.2814 14.1993 23.3912 15.3761 26.7417C18.9004 36.7759 30.4327 44.2531 36.2144 42.577C37.371 42.0104 40.2171 40.9607 40.5706 36.611C40.5793 36.5347 40.564 36.4576 40.5269 36.3904C40.4898 36.3232 40.4327 36.2693 40.3635 36.236C38.2146 35.284 35.7819 34.0527 33.6325 33.1024C33.5713 33.0759 33.5034 33.0689 33.4381 33.0826C33.3728 33.0962 33.3134 33.1298 33.2679 33.1786L30.6264 36.3273C30.5879 36.3708 30.5379 36.4025 30.4821 36.4188C30.4263 36.435 30.3671 36.4351 30.3113 36.419C28.2852 35.8051 26.4255 34.738 24.8733 33.2984C22.7594 31.301 21.2386 28.7584 20.4784 25.9512C20.4619 25.8908 20.4612 25.827 20.4766 25.7663C20.492 25.7055 20.5229 25.6498 20.5663 25.6045L23.3306 22.598C23.3838 22.539 23.4172 22.4646 23.426 22.3856C23.4348 22.3065 23.4186 22.2267 23.3796 22.1573L20.5742 15.4194Z" fill="#00237E"/>
<path d="M30.3225 36.9768C30.5111 37.0566 30.7192 37.0786 30.9203 37.0401C31.1215 37.0015 31.3067 36.904 31.4524 36.7601C32.3351 35.8877 34.0543 34.0838 34.1617 33.9728C34.2712 33.874 33.2606 33.2355 33.1511 33.3343L30.13 36.4577C30.0861 36.5007 30.031 36.5304 29.971 36.5434C29.9109 36.5563 29.8484 36.5519 29.7908 36.5308C29.0593 36.2493 28.3515 35.9101 27.6738 35.5163C28.5046 36.0922 29.3921 36.5816 30.3225 36.9768Z" fill="#00237E"/>
<path d="M16.3722 27.2766C15.1954 23.926 14.8284 18.8162 17.6717 16.5518C18.5708 15.9682 19.6289 15.6781 20.7 15.7215L20.5742 15.4194C20.5525 15.3765 20.5217 15.3388 20.4839 15.3089C20.4461 15.2791 20.4023 15.2579 20.3555 15.2467C19.076 15.0466 17.7674 15.3205 16.6756 16.017C13.8323 18.2814 14.1993 23.3912 15.3761 26.7417C17.6097 33.101 23.0591 38.4292 28.2232 41.0553C23.3696 38.2792 18.4624 33.2278 16.3722 27.2766Z" fill="#00237E"/>
<path d="M22.182 21.8952C22.2235 21.964 22.241 22.0447 22.2315 22.1246C22.2219 22.2044 22.1861 22.2788 22.1295 22.3359C22.1295 22.3359 20.1989 23.9863 19.4886 24.7168C19.3475 24.9116 19.249 25.1339 19.1994 25.3693C19.1498 25.6047 19.1503 25.8479 19.2009 26.083C20.0662 28.7741 21.6493 31.1781 23.7796 33.0363C25.4668 34.4892 27.4522 35.5545 29.5959 36.1568C29.6551 36.1731 29.7176 36.1732 29.7769 36.1571C29.8362 36.141 29.8901 36.1093 29.9329 36.0652L29.9483 36.0481C28.2364 35.4205 26.6519 34.489 25.2711 33.2983C23.1408 31.4402 21.5578 29.0362 20.6924 26.3451C20.6356 26.1676 20.629 25.9779 20.6735 25.7969C20.7179 25.6159 20.8116 25.4508 20.9442 25.3199L23.6211 22.598C23.6776 22.5409 23.7135 22.4665 23.723 22.3866C23.7325 22.3068 23.7151 22.2261 23.6735 22.1572L20.6729 15.4194C20.6193 15.3307 19.4007 14.8637 19.7909 15.976L22.182 21.8952Z" fill="#00237E"/>
<path d="M40.3633 36.2359C38.2144 35.2839 35.7817 34.0526 33.6323 33.1024C33.5712 33.0758 33.5032 33.0689 33.4379 33.0825C33.3726 33.0961 33.3131 33.1297 33.2677 33.1786L33.1875 33.2742C35.0884 34.1474 37.1279 35.1584 38.9688 35.9739C39.038 36.0071 39.0951 36.0611 39.1322 36.1283C39.1693 36.1955 39.1846 36.2726 39.1759 36.3488C38.8224 40.6986 35.9763 41.7483 34.8197 42.3149C33.874 42.5625 32.8881 42.6169 31.9209 42.4747C33.3189 42.8807 34.7985 42.9159 36.2142 42.5769C37.3708 42.0104 40.2169 40.9606 40.5704 36.6109C40.5791 36.5346 40.5638 36.4576 40.5267 36.3904C40.4896 36.3232 40.4325 36.2692 40.3633 36.2359Z" fill="#00237E"/>
<path d="M30.6898 28.5683H27.218C27.1069 28.5677 26.9983 28.5356 26.9048 28.4757C26.8113 28.4158 26.7367 28.3306 26.6898 28.23C26.6428 28.1294 26.6253 28.0175 26.6394 27.9073C26.6536 27.7972 26.6986 27.6933 26.7695 27.6078C27.4488 26.8024 28.1829 26.0449 28.9666 25.3406C29.7635 24.5988 30.1494 23.8068 30.0252 23.1671C29.8341 22.1855 28.4071 21.7733 27.3422 23.0278C27.2504 23.1338 27.1204 23.1992 26.9806 23.2097C26.8409 23.2203 26.7025 23.1752 26.5958 23.0842C26.4892 22.9933 26.4227 22.8639 26.411 22.7241C26.3993 22.5844 26.4433 22.4458 26.5334 22.3383C28.2036 20.3811 30.7121 21.1327 31.0682 22.9645C31.1831 23.5565 31.1569 24.7534 29.6903 26.1183C29.0618 26.7035 28.6275 27.1331 28.2771 27.5058H30.6898C30.8307 27.5058 30.9658 27.5618 31.0654 27.6614C31.165 27.7611 31.221 27.8962 31.221 28.0371C31.221 28.178 31.165 28.3131 31.0654 28.4127C30.9658 28.5124 30.8307 28.5683 30.6898 28.5683Z" fill="#00237E"/>
<path d="M35.2716 28.0371V26.626H32.3424C32.2331 26.6259 32.1259 26.5951 32.0332 26.5372C31.9404 26.4792 31.8658 26.3964 31.8177 26.2982C31.7697 26.2 31.7502 26.0902 31.7614 25.9814C31.7726 25.8726 31.8141 25.7692 31.8812 25.6828L35.2895 21.3236C35.3645 21.2281 35.4675 21.1584 35.584 21.1241C35.7005 21.0898 35.8248 21.0927 35.9396 21.1322C36.0545 21.1718 36.1541 21.2461 36.2248 21.3449C36.2955 21.4436 36.3337 21.5619 36.3341 21.6834V25.5635H36.9151C37.056 25.5635 37.1911 25.6195 37.2908 25.7191C37.3904 25.8187 37.4464 25.9538 37.4464 26.0947C37.4464 26.2356 37.3904 26.3708 37.2908 26.4704C37.1911 26.57 37.056 26.626 36.9151 26.626H36.3341V28.0371C36.3341 28.178 36.2781 28.3131 36.1785 28.4128C36.0788 28.5124 35.9437 28.5684 35.8028 28.5684C35.6619 28.5684 35.5268 28.5124 35.4272 28.4128C35.3275 28.3131 35.2716 28.178 35.2716 28.0371ZM33.3232 25.5635H35.2716V23.0714L33.3232 25.5635Z" fill="#00237E"/>
<path d="M42.8518 33.782C42.8236 33.7182 42.783 33.6606 42.7324 33.6125C42.6819 33.5644 42.6224 33.5267 42.5572 33.5016C42.4921 33.4765 42.4227 33.4645 42.3529 33.4663C42.2832 33.4681 42.2144 33.4836 42.1507 33.512L40.6687 34.1702C41.9715 32.1554 42.6612 29.8056 42.6539 27.4062C42.6567 25.048 41.993 22.737 40.7395 20.7395C39.4859 18.742 37.6934 17.1394 35.5687 16.1164C33.4439 15.0933 31.0733 14.6915 28.7301 14.9571C26.3869 15.2227 24.1664 16.1451 22.3246 17.6178L21.4576 15.3823L21.4301 15.3224C21.3734 15.2133 21.2942 15.1175 21.1977 15.0413C21.1012 14.9651 20.9896 14.9104 20.8703 14.8806C19.422 14.5794 17.9139 14.7977 16.6105 15.4972C13.4624 17.5838 13.3223 22.5726 14.5249 26.3245C17.7866 36.507 29.8842 44.808 35.9326 42.978C37.3024 42.6554 38.537 41.9124 39.4634 40.8531C40.3898 39.7938 40.9617 38.4712 41.0988 37.0707C41.1319 36.881 41.1018 36.6858 41.013 36.5149C40.9242 36.3441 40.7817 36.2073 40.6075 36.1254C40.321 35.9898 40.0273 35.8479 39.7301 35.7026C39.8132 35.6955 39.8947 35.6753 39.9715 35.6427L42.5818 34.4831C42.7106 34.426 42.8113 34.32 42.862 34.1885C42.9126 34.057 42.909 33.9108 42.8518 33.782ZM35.6255 41.9611C29.9867 43.6623 18.6431 35.6982 15.5366 26.0003C14.4523 22.6169 14.5099 18.1643 17.1978 16.3828C18.2218 15.8662 19.385 15.6934 20.515 15.8899L23.0021 22.3041L20.0952 24.9526C19.9767 25.0555 19.8889 25.1891 19.8414 25.3387C19.7939 25.4883 19.7886 25.6481 19.826 25.8005C20.4194 28.3257 21.6487 30.6572 23.397 32.5735C25.1453 34.4897 27.3546 35.9271 29.8149 36.749C29.9653 36.7972 30.1258 36.8042 30.2798 36.7692C30.4337 36.7342 30.5754 36.6585 30.6901 36.55L33.4678 33.7742C35.5649 34.7692 37.922 36.0246 40.0311 37.0281C39.4485 40.806 36.7741 41.6138 35.6255 41.9611ZM33.8066 32.7589C33.6455 32.6851 33.4661 32.6608 33.2912 32.689C33.1163 32.7172 32.9537 32.7967 32.824 32.9174L30.0375 35.7021C27.7932 34.9313 25.7787 33.6083 24.1798 31.8549C22.5808 30.1015 21.4486 27.974 20.8875 25.6682L23.8109 23.0047C23.9519 22.878 24.0479 22.7089 24.0845 22.5229C24.1211 22.3369 24.0962 22.144 24.0137 21.9734L22.7267 18.6547C24.3951 17.2417 26.4329 16.3355 28.5996 16.043C30.7663 15.7505 32.9715 16.084 34.9548 17.0041C36.9381 17.9242 38.6168 19.3924 39.7928 21.2356C40.9687 23.0788 41.5928 25.2199 41.5914 27.4062C41.5977 29.5877 40.9743 31.7246 39.7962 33.5606L39.6633 32.0404C39.6573 31.9708 39.6376 31.9032 39.6054 31.8413C39.5733 31.7793 39.5292 31.7243 39.4758 31.6795C39.4223 31.6346 39.3606 31.6006 39.294 31.5796C39.2275 31.5586 39.1574 31.5509 39.0879 31.557C39.0184 31.5631 38.9507 31.5828 38.8888 31.615C38.8269 31.6472 38.772 31.6913 38.7271 31.7448C38.6823 31.7982 38.6484 31.86 38.6274 31.9266C38.6065 31.9932 38.5988 32.0632 38.6049 32.1327L38.8542 34.9846C38.8655 35.1059 38.9045 35.223 38.9683 35.3268C37.2629 34.4781 35.4478 33.534 33.8066 32.7589Z" fill="#00237E"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g_oGuFrLfg gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gk6IxndF40"
        class="gk6IxndF40"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:18px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggk6IxndF40_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4W_5korhr"
        class="g4W_5korhr"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:4px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:15px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#313131;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gg4W_5korhr_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gLaItfVktZ"}' data-id="gLaItfVktZ" id="gLaItfVktZ" data-same-height-subgrid-container class="gLaItfVktZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:45px;--pt-mobile:34px;--pl-mobile:20px;--pr-mobile:20px;--cg:13px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gTOsRIlJRG gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gRXkepHcGG" class="gp-leading-[0] gRXkepHcGG" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gRXkepHcGG" class="icon-wrapper gp-inline-flex gp-overflow-hidden gRXkepHcGG " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:56px;--w-tablet:56px;--w-mobile:56px;--h:56px;--h-tablet:56px;--h-mobile:56px;--minw:56px;--minw-tablet:56px;--minw-mobile:56px;--height-desktop:56px;--height-tablet:56px;--height-mobile:56px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="531052104282800937" width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="0.5" y="0.5" width="55" height="55" rx="27.5" fill="white"/>
<rect x="0.5" y="0.5" width="55" height="55" rx="27.5" stroke="#D7D7D7"/>
<g clip-path="url(#clip0_128_3671)">
<path d="M34.859 32.1973C33.2118 35.0011 30.8432 37.3122 27.9998 38.89C25.1564 37.3121 22.7879 35.0011 21.1406 32.1973L34.859 32.1973Z" fill="#00237E"/>
<path d="M37.375 22.3533V19.7433L28 16.8586L18.625 19.7433V22.3533H37.375Z" fill="#00237E"/>
<path d="M25.6562 20.0098H26.5938V20.9473H25.6562V20.0098Z" fill="#EAF6FA"/>
<path d="M27.5312 20.0098H28.4688V20.9473H27.5312V20.0098Z" fill="#EAF6FA"/>
<path d="M29.4062 20.0098H30.3438V20.9473H29.4062V20.0098Z" fill="#EAF6FA"/>
<path d="M41.125 21.8757H37.8438V19.7312C37.8438 19.6309 37.8117 19.5332 37.7521 19.4524C37.6926 19.3717 37.6087 19.3122 37.5128 19.2826L28.1378 16.3938C28.048 16.3658 27.952 16.3658 27.8622 16.3938L18.4872 19.2826C18.3913 19.3122 18.3074 19.3717 18.2479 19.4524C18.1883 19.5332 18.1562 19.6309 18.1562 19.7312V22.8147H41.125C41.2494 22.8149 41.3686 22.8645 41.4565 22.9525C41.5444 23.0405 41.5937 23.1598 41.5938 23.2842V31.2646C41.5937 31.389 41.5444 31.5083 41.4565 31.5963C41.3686 31.6843 41.2494 31.7338 41.125 31.734H14.875C14.7506 31.7338 14.6314 31.6842 14.5436 31.5962C14.4557 31.5082 14.4063 31.389 14.4062 31.2646V23.2841C14.4063 23.1597 14.4557 23.0404 14.5436 22.9524C14.6314 22.8644 14.7506 22.8149 14.875 22.8146H17.2188V21.8757H16.2812V18.3442C16.2809 18.2437 16.3128 18.1459 16.3724 18.065C16.4319 17.9842 16.516 17.9247 16.612 17.8953L27.8622 14.4288C27.952 14.4008 28.0482 14.4008 28.138 14.4288L39.3878 17.8953C39.4838 17.9247 39.5679 17.9842 39.6275 18.065C39.6871 18.1458 39.7191 18.2437 39.7188 18.3442V20.9369H40.6562V18.3442C40.6575 18.0429 40.5616 17.7492 40.3827 17.5067C40.2038 17.2642 39.9516 17.0859 39.6633 16.9981L28.4138 13.5316C28.1444 13.4478 27.8558 13.4478 27.5864 13.5316L16.3364 16.9981C16.0482 17.086 15.796 17.2643 15.6172 17.5068C15.4384 17.7492 15.3425 18.0429 15.3438 18.3442V21.8757H14.875C14.5019 21.8764 14.1443 22.0251 13.8806 22.2891C13.617 22.5531 13.4689 22.911 13.4688 23.2841V31.2646C13.4689 31.6377 13.617 31.9955 13.8806 32.2596C14.1443 32.5236 14.5019 32.6722 14.875 32.6729H20.8834C22.5638 35.4484 24.9383 37.7383 27.7729 39.3169C27.8424 39.3554 27.9206 39.3755 28 39.3755C28.0794 39.3755 28.1576 39.3554 28.2271 39.3169C31.0618 37.7384 33.4364 35.4485 35.1168 32.6729H37.2918C35.2196 36.5449 31.9639 39.653 28 41.5435C24.2728 39.7787 21.1671 36.927 19.0915 33.3636L18.2828 33.838C19.0204 35.0988 19.8842 36.2813 20.8609 37.3673H16.75V38.3062H21.7536C22.44 38.981 23.1713 39.6084 23.9427 40.184H16.75V41.1229H25.3047C26.1067 41.6324 26.9415 42.0885 27.8036 42.4882C27.8652 42.5165 27.9322 42.5312 28 42.5312C28.0678 42.5312 28.1347 42.5165 28.1963 42.4882C29.0579 42.0892 29.8918 41.6331 30.6925 41.1229H39.25V40.184H32.05C32.8192 39.6075 33.5489 38.9802 34.2344 38.3062H39.25V37.3673H35.1277C36.4042 35.9523 37.4866 34.3737 38.3463 32.6729H41.125C41.4981 32.6722 41.8557 32.5236 42.1194 32.2596C42.383 31.9955 42.5311 31.6377 42.5312 31.2646V23.2841C42.5311 22.911 42.383 22.5531 42.1194 22.2891C41.8557 22.0251 41.4981 21.8764 41.125 21.8757ZM36.9062 21.8848H19.0938V20.0894L28 17.3492L36.9062 20.0896V21.8848ZM28 38.3519C25.5737 36.9582 23.5118 35.0097 21.9832 32.666H34.0168C32.4884 35.0099 30.4265 36.9584 28 38.3519Z" fill="#00237E"/>
<path d="M22.9671 28.8069C22.6262 28.9139 22.2594 28.9035 21.9252 28.7774C21.7435 28.6968 21.574 28.5911 21.4217 28.4633C21.3213 28.3841 21.1948 28.3453 21.0673 28.3545C20.9397 28.3638 20.8202 28.4204 20.7322 28.5132C20.6793 28.571 20.6391 28.6393 20.6144 28.7137C20.5897 28.7881 20.5809 28.8669 20.5887 28.9449C20.5965 29.0229 20.6206 29.0983 20.6595 29.1664C20.6985 29.2344 20.7513 29.2935 20.8146 29.3397C21.0453 29.5445 21.3155 29.6996 21.6087 29.7954C22.2163 29.9851 22.8701 29.965 23.4649 29.7384C23.7529 29.6333 24.0019 29.4428 24.1786 29.1923C24.3553 28.9418 24.4513 28.6434 24.4537 28.3369C24.4806 28.0172 24.3907 27.6987 24.2007 27.4403C24.0107 27.182 23.7334 27.0013 23.4203 26.9317C22.8899 26.757 22.5557 26.7553 22.125 26.6053C21.8914 26.5241 21.7257 26.3994 21.7257 26.1501C21.73 26.0537 21.7658 25.9613 21.8276 25.8872C21.8894 25.813 21.9738 25.7612 22.0678 25.7395C22.3358 25.6457 22.6269 25.6406 22.898 25.7251C23.1381 25.7855 23.3641 25.8925 23.5629 26.04C23.6405 26.0881 23.7295 26.1145 23.8208 26.1164C23.912 26.1183 24.0021 26.0956 24.0816 26.0509C24.1611 26.0061 24.2271 25.9408 24.2727 25.8618C24.3184 25.7828 24.342 25.6929 24.3411 25.6017C24.3392 25.5109 24.316 25.4219 24.2735 25.3416C24.231 25.2614 24.1702 25.1923 24.0961 25.1398C23.8962 24.9763 23.6677 24.851 23.4223 24.7704C22.8312 24.5684 22.1879 24.5804 21.6048 24.8045C21.3239 24.9085 21.0822 25.0972 20.9132 25.3445C20.7442 25.5919 20.6562 25.8856 20.6613 26.1851C20.6495 26.4851 20.7352 26.7808 20.9056 27.028C21.0761 27.2752 21.322 27.4605 21.6066 27.5561C22.1443 27.7724 22.4758 27.7075 22.9364 27.8866C23.1854 27.9846 23.3754 28.1198 23.3754 28.386C23.3758 28.5942 23.1611 28.7351 22.9671 28.8069Z" fill="#00237E"/>
<path d="M28.5711 28.8068C28.2302 28.9138 27.8634 28.9034 27.5292 28.7773C27.3475 28.6967 27.178 28.591 27.0256 28.4632C26.9251 28.3842 26.7988 28.3455 26.6713 28.3547C26.5438 28.364 26.4243 28.4204 26.3362 28.5131C26.2833 28.5709 26.2432 28.6392 26.2184 28.7136C26.1937 28.788 26.1849 28.8668 26.1927 28.9448C26.2005 29.0228 26.2246 29.0982 26.2635 29.1663C26.3025 29.2343 26.3553 29.2934 26.4186 29.3396C26.6493 29.5443 26.9195 29.6994 27.2126 29.7952C27.8201 29.9849 28.4738 29.9649 29.0686 29.7382C29.3567 29.6331 29.6058 29.4426 29.7827 29.1922C29.9595 28.9417 30.0557 28.6432 30.0583 28.3366C30.085 28.017 29.9949 27.6986 29.8049 27.4403C29.6149 27.1819 29.3377 27.0012 29.0247 26.9315C28.4899 26.7555 28.1633 26.7563 27.7292 26.6051C27.4956 26.5239 27.3298 26.3991 27.3298 26.1498C27.3342 26.0534 27.37 25.9611 27.4318 25.8869C27.4936 25.8128 27.5779 25.7609 27.672 25.7393C27.94 25.6454 28.2311 25.6404 28.5021 25.7248C28.7423 25.7853 28.9683 25.8923 29.1673 26.0398C29.2627 26.1068 29.3795 26.136 29.4952 26.1219C29.6108 26.1077 29.7171 26.0511 29.7935 25.9631C29.8488 25.9063 29.8908 25.8379 29.9165 25.7629C29.9422 25.6879 29.9509 25.6081 29.9421 25.5293C29.9332 25.4506 29.9069 25.3747 29.8651 25.3073C29.8234 25.2399 29.7672 25.1826 29.7006 25.1396C29.5006 24.9761 29.2722 24.8509 29.0268 24.7702C28.4356 24.5681 27.7922 24.5802 27.209 24.8042C26.9281 24.9083 26.6865 25.0971 26.5175 25.3444C26.3485 25.5917 26.2606 25.8855 26.2657 26.185C26.254 26.4849 26.3397 26.7807 26.5101 27.0278C26.6806 27.275 26.9265 27.4603 27.2111 27.556C27.7487 27.7723 28.0803 27.7074 28.5409 27.8865C28.7893 27.9843 28.9799 28.118 28.9799 28.3859C28.9798 28.5933 28.7656 28.7347 28.5711 28.8068Z" fill="#00237E"/>
<path d="M32.9848 24.8519C32.8784 24.7522 32.7379 24.6968 32.592 24.697C32.4462 24.6973 32.3059 24.7532 32.1998 24.8533C32.1473 24.9036 32.1059 24.9641 32.0781 25.0312C32.0503 25.0983 32.0367 25.1705 32.0382 25.2431V29.3072C32.0368 29.3793 32.05 29.4509 32.077 29.5177C32.104 29.5846 32.1441 29.6454 32.1951 29.6963C32.2461 29.7473 32.3068 29.7875 32.3737 29.8145C32.4406 29.8414 32.5122 29.8546 32.5843 29.8533H34.8694C34.9404 29.8557 35.011 29.8438 35.0773 29.8183C35.1435 29.7928 35.2039 29.7543 35.2549 29.705C35.3059 29.6557 35.3465 29.5966 35.3742 29.5313C35.4019 29.4659 35.4162 29.3957 35.4162 29.3248C35.4162 29.2538 35.4019 29.1836 35.3742 29.1183C35.3465 29.0529 35.3059 28.9939 35.2549 28.9446C35.2039 28.8952 35.1435 28.8567 35.0773 28.8312C35.011 28.8058 34.9404 28.7939 34.8694 28.7963H33.1517V25.2431C33.1531 25.1699 33.139 25.0971 33.1102 25.0297C33.0814 24.9622 33.0387 24.9017 32.9848 24.8519Z" fill="#00237E"/>
</g>
<defs>
<clipPath id="clip0_128_3671">
<rect width="30" height="30" fill="white" transform="translate(13 13)"/>
</clipPath>
</defs>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gBJuknPu3E gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEdM4QirTy"
        class="gEdM4QirTy"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:18px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggEdM4QirTy_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCn2vfw--b"
        class="gCn2vfw--b"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:4px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:15px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#313131;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggCn2vfw--b_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="gCe5JvxR6L gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gTIIt1JsL1"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:35px;--bbrr:35px;--btlr:35px;--btrr:35px;--pr:16px;--pl-mobile:15px;--pr-mobile:15px;--ta:center"
      class="gp-group/image gp-relative force-publish-1782281277243 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gTIIt1JsL1"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggTIIt1JsL1_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTcyIiBoZWlnaHQ9IjcxNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTcyLTcxNCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTcyIiBoZWlnaHQ9IjcxNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTcyIiBoZWlnaHQ9IjcxNCIgZmlsbD0idXJsKCNnLTU3Mi03MTQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NzIiIHRvPSI1NzIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggTIIt1JsL1_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTcyIiBoZWlnaHQ9IjcxNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTcyLTcxNCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTcyIiBoZWlnaHQ9IjcxNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTcyIiBoZWlnaHQ9IjcxNCIgZmlsbD0idXJsKCNnLTU3Mi03MTQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NzIiIHRvPSI1NzIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggTIIt1JsL1_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTcyIiBoZWlnaHQ9IjcxNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTcyLTcxNCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTcyIiBoZWlnaHQ9IjcxNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTcyIiBoZWlnaHQ9IjcxNCIgZmlsbD0idXJsKCNnLTU3Mi03MTQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NzIiIHRvPSI1NzIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggTIIt1JsL1_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gTIIt1JsL1">
        .gTIIt1JsL1 {

}
.gTIIt1JsL1 > figure > img {

}
@media only screen and (max-width: 767px) {
    .gTIIt1JsL1{
        border-radius: 25px !important;
    }
}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g7oZR3oUy7"}' data-id="g7oZR3oUy7" id="g7oZR3oUy7" data-same-height-subgrid-container class="g7oZR3oUy7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--ml-mobile:auto;--cg:8px;--gtc:minmax(0, 12fr);--w:420px;--w-tablet:420px;--w-mobile:269px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPQ1WCU2QI gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#gabU915ziD","target":"_self","title":"Element","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center" >
        <style>[data-id="gtFHGzvOaw"].gp-button-base::before, [data-id="gtFHGzvOaw-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
  
    }
  
      
  [data-id="gtFHGzvOaw"]:hover::before, [data-id="gtFHGzvOaw-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gabU915ziD
            target=_self
          ></a>
        <a
          data-id="gtFHGzvOaw" dataId="gtFHGzvOaw" data-state="idle" aria-label="<p>TRY IT RISK-FREE – TODAY AT 50% OFF!</p>"
          
          href="#gabU915ziD" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:57px;--h-tablet:57px;--h-mobile:57px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--shadow:none;--hvr-bg:#DBB911;--bg:#ffd814;--c:#121212;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:800;--size:19px;--size-tablet:19px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px"
          class="gtFHGzvOaw gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:800;--size:19px;--size-tablet:19px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggtFHGzvOaw_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g5ozzt3ksq"}' data-id="g5ozzt3ksq" id="g5ozzt3ksq" data-same-height-subgrid-container class="g5ozzt3ksq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:19px;--pt-mobile:10px;--cg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gakYCnMdCt gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gFuqlZs-N0"}' data-id="gFuqlZs-N0" id="gFuqlZs-N0" data-same-height-subgrid-container class="gFuqlZs-N0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 1px 0px 0px;--bc:#00237E;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:21px;--pr-mobile:8px;--cg:8px;--cg-mobile:5px;--gtc:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:end">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gUusyyQk3h gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gQHWowu3hi" class="gp-leading-[0] gQHWowu3hi" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gQHWowu3hi" class="icon-wrapper gp-inline-flex gp-overflow-hidden gQHWowu3hi " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:30px;--w-tablet:30px;--w-mobile:25px;--h:30px;--h-tablet:30px;--h-mobile:25px;--minw:30px;--minw-tablet:30px;--minw-mobile:25px;--height-desktop:30px;--height-tablet:30px;--height-mobile:25px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="531032814963917805" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.9998 29.1892C14.9407 29.1892 14.8823 29.1764 14.8287 29.1515C7.77752 25.8693 3.56738 20.2107 3.56738 14.0148V5.45674C3.56736 5.40026 3.57914 5.34439 3.60197 5.29273C3.6248 5.24107 3.65817 5.19475 3.69995 5.15674C3.74168 5.11847 3.79102 5.08944 3.84475 5.07155C3.89847 5.05367 3.95536 5.04733 4.01171 5.05295C8.46752 5.48025 11.9625 4.13876 14.6917 0.952683C14.7298 0.908183 14.777 0.872457 14.8302 0.847963C14.8834 0.823469 14.9413 0.810787 14.9998 0.810791C15.0584 0.810887 15.1163 0.823695 15.1695 0.848331C15.2227 0.872967 15.2699 0.908846 15.3079 0.953494C17.9779 4.08849 21.4754 5.43241 25.9932 5.05255C26.0492 5.04788 26.1056 5.05491 26.1587 5.07319C26.2118 5.09146 26.2606 5.12058 26.3019 5.1587C26.3432 5.19682 26.3761 5.24311 26.3985 5.29463C26.421 5.34614 26.4324 5.40176 26.4322 5.45795V14.0148C26.4336 14.421 26.4141 14.8269 26.3739 15.2311C26.2838 16.2233 26.0832 17.2023 25.7759 18.15C25.6447 18.5707 25.4916 18.9843 25.317 19.3889C24.8809 20.415 24.3357 21.3913 23.6909 22.3009C23.6098 22.4225 23.515 22.5523 23.4197 22.6816C21.2421 25.4819 18.4094 27.7038 15.1709 29.1515C15.1173 29.1764 15.0589 29.1892 14.9998 29.1892ZM4.37819 5.89741V14.0148C4.37819 19.8373 8.34509 25.1793 14.9998 28.3378C18.0442 26.951 20.7077 24.848 22.7629 22.2085C22.8545 22.0869 22.9413 21.9685 23.0204 21.8481C23.6354 20.9821 24.1552 20.0523 24.5706 19.0747C24.735 18.6937 24.8794 18.3044 25.0032 17.9084C25.2931 17.0143 25.482 16.0906 25.5663 15.1544C25.6045 14.7758 25.6229 14.3954 25.6214 14.0148V5.89255C21.2025 6.16214 17.7189 4.82836 14.9998 1.82957C12.226 4.8766 8.74319 6.21039 4.37819 5.89741Z" fill="black"/>
<path d="M23.5263 15.5959C23.5093 15.5961 23.4924 15.595 23.4756 15.5927C23.369 15.5793 23.272 15.5242 23.206 15.4393C23.14 15.3545 23.1104 15.2469 23.1237 15.1403C23.1691 14.7669 23.191 14.391 23.1894 14.0149C23.1889 13.9073 23.2311 13.804 23.3067 13.7276C23.3824 13.6512 23.4853 13.608 23.5928 13.6074C23.7003 13.6069 23.8036 13.6491 23.88 13.7247C23.9564 13.8004 23.9997 13.9033 24.0002 14.0108V14.0149C24.0019 14.4246 23.9778 14.8341 23.928 15.2408C23.9158 15.3388 23.8682 15.4289 23.7943 15.4943C23.7203 15.5597 23.625 15.5958 23.5263 15.5959Z" fill="black"/>
<path d="M22.2684 19.6379C22.1986 19.6379 22.13 19.6198 22.0692 19.5855C22.0084 19.5511 21.9576 19.5016 21.9215 19.4419C21.8855 19.3821 21.8655 19.314 21.8635 19.2443C21.8614 19.1745 21.8775 19.1054 21.91 19.0436C22.1095 18.6671 22.2871 18.2795 22.4419 17.8825C22.461 17.8329 22.4898 17.7874 22.5265 17.7489C22.5632 17.7103 22.6072 17.6794 22.6559 17.6578C22.7045 17.6362 22.757 17.6245 22.8102 17.6232C22.8634 17.6219 22.9164 17.6311 22.9661 17.6502C23.0157 17.6694 23.0612 17.6982 23.0997 17.7349C23.1383 17.7716 23.1692 17.8155 23.1908 17.8642C23.2124 17.9129 23.2241 17.9653 23.2254 18.0186C23.2267 18.0718 23.2175 18.1247 23.1984 18.1744C23.0323 18.6008 22.8415 19.0172 22.6272 19.4214C22.5927 19.4868 22.5411 19.5415 22.4779 19.5796C22.4147 19.6178 22.3422 19.6379 22.2684 19.6379Z" fill="black"/>
<path d="M15 26.4769C14.9342 26.4768 14.8694 26.4608 14.8111 26.4303C9.29392 23.5248 6 18.8833 6 14.0148V7.9499C5.99988 7.84566 6.03991 7.74539 6.11178 7.6699C6.18365 7.5944 6.28183 7.54949 6.38595 7.54449C9.45181 7.43921 12.3932 6.30605 14.7373 4.32719C14.8104 4.26567 14.9028 4.23193 14.9984 4.23193C15.0939 4.23193 15.1864 4.26567 15.2595 4.32719C17.6151 6.28624 20.5535 7.40938 23.6153 7.52098C23.719 7.52658 23.8165 7.57176 23.8879 7.64719C23.9592 7.72262 23.9989 7.82255 23.9988 7.92638V11.1737C23.9988 11.2812 23.9561 11.3843 23.88 11.4603C23.804 11.5364 23.7009 11.5791 23.5934 11.5791C23.4859 11.5791 23.3827 11.5364 23.3067 11.4603C23.2307 11.3843 23.188 11.2812 23.188 11.1737V8.30544C20.2011 8.12148 17.3428 7.02427 15 5.16233C12.6663 7.04467 9.80371 8.15257 6.81081 8.33179V14.0148C6.81081 18.5898 9.79216 22.8072 15 25.6122C16.8618 24.6358 18.5413 23.3458 19.965 21.799C20.0003 21.7582 20.0433 21.7249 20.0916 21.7009C20.14 21.677 20.1926 21.663 20.2464 21.6596C20.3002 21.6562 20.3541 21.6637 20.405 21.6814C20.4559 21.6991 20.5028 21.7269 20.5428 21.7629C20.5829 21.799 20.6154 21.8427 20.6383 21.8915C20.6613 21.9403 20.6743 21.9931 20.6766 22.047C20.6789 22.1009 20.6704 22.1546 20.6517 22.2052C20.6329 22.2557 20.6043 22.302 20.5674 22.3414C19.0303 24.0115 17.2093 25.3959 15.1889 26.4303C15.1306 26.4608 15.0658 26.4768 15 26.4769Z" fill="black"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gQ0ZViCrUW gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gy5nTQGit3"
        class="gy5nTQGit3"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:600;--size:14px;--size-tablet:14px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggy5nTQGit3_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g1JwRQbmFv gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gHpMNdpTnt"}' data-id="gHpMNdpTnt" id="gHpMNdpTnt" data-same-height-subgrid-container class="gHpMNdpTnt gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:22px;--pl-mobile:10px;--cg:8px;--cg-mobile:5px;--gtc:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gl28PY6sdj gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gSqY0ehgko" class="gp-leading-[0] gSqY0ehgko" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gSqY0ehgko" class="icon-wrapper gp-inline-flex gp-overflow-hidden gSqY0ehgko " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:31px;--w-tablet:31px;--w-mobile:24px;--h:31px;--h-tablet:31px;--h-mobile:24px;--minw:31px;--minw-tablet:31px;--minw-mobile:24px;--height-desktop:31px;--height-tablet:31px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="531032849357210605" width="31" height="29" viewBox="0 0 31 29" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M25.1875 12.1043V6.53134L28.0938 3.81259V13.1406H29.0625V2.71875H29.0581C29.0581 2.6603 29.0504 2.60139 29.0257 2.5452C28.9511 2.37573 28.7738 2.26562 28.5781 2.26562H5.32812C5.19928 2.26562 5.07625 2.3132 4.98567 2.39839L1.11116 6.02294C1.02348 6.10495 0.96875 6.21823 0.96875 6.34375V23.5625C0.96875 23.8131 1.18527 24.0156 1.45312 24.0156H24.7031C24.971 24.0156 25.1875 23.8131 25.1875 23.5625V18.1431C25.7968 18.9782 26.1562 19.9851 26.1562 21.0703C26.1562 23.9436 23.6574 26.2812 20.5859 26.2812C20.3181 26.2812 20.1016 26.4838 20.1016 26.7344C20.1016 26.985 20.3181 27.1875 20.5859 27.1875H21.5547C26.2284 27.1875 30.0312 23.63 30.0312 19.2578C30.0312 16.1027 28.0463 13.3799 25.1875 12.1043ZM24.5026 5.89062H15.7005L18.6068 3.17188H27.4088L24.5026 5.89062ZM14.1888 6.02339C14.0977 6.10813 14.0469 6.22322 14.0469 6.34375V9.51562H12.1094V6.53134L15.7005 3.17188H17.237L14.1888 6.02339ZM5.52866 3.17188H14.3307L11.4245 5.89062H2.62241L5.52866 3.17188ZM1.9375 23.1094V6.79688H11.1406V9.96875C11.1406 10.2193 11.3571 10.4219 11.625 10.4219H14.5312C14.7991 10.4219 15.0156 10.2193 15.0156 9.96875V6.79688H24.2188V11.7355C23.3798 11.4745 22.4861 11.3281 21.5547 11.3281H20.8281V9.0625C20.8281 8.89258 20.7269 8.73716 20.5656 8.65922C20.4033 8.58128 20.2096 8.59442 20.0623 8.69366L13.2811 13.2249C13.1537 13.3101 13.0781 13.4474 13.0781 13.5938C13.0781 13.7401 13.1537 13.8774 13.2811 13.9621L20.0623 18.4934C20.2096 18.5922 20.4033 18.6044 20.5656 18.5278C20.7269 18.4503 20.8281 18.2949 20.8281 18.125V15.8644C22.1204 15.9165 23.2999 16.3823 24.2188 17.1236V23.1094H1.9375ZM25.2108 25.3909C26.3931 24.2834 27.125 22.7555 27.125 21.0703C27.125 17.6973 24.1916 14.9531 20.5859 14.9531H20.3438C20.0759 14.9531 19.8594 15.1557 19.8594 15.4062V17.2446L14.3961 13.5938L19.8594 9.94292V11.7812C19.8594 12.0318 20.0759 12.2344 20.3438 12.2344H21.5547C25.6946 12.2344 29.0625 15.385 29.0625 19.2578C29.0625 21.89 27.5072 24.1883 25.2108 25.3909Z" fill="black"/>
<path d="M2.90625 21.2969H8.71875V22.2031H2.90625V21.2969Z" fill="black"/>
<path d="M2.90625 19.4844H8.71875V20.3906H2.90625V19.4844Z" fill="black"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gcVH0kqrTp gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIf1FSnc2I"
        class="gIf1FSnc2I"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:600;--size:14px;--size-tablet:14px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggIf1FSnc2I_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-625369882992575027 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zooro-co/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=625369882841580083&sectionId=625369882992575027)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggVlnHaA4lI_text","label":"ggVlnHaA4lI_text","default":"The BoxHero <span style=\"color:#00237E;\">Guarantee</span>"},{"type":"html","id":"ggk8xk5MpC2_text","label":"ggk8xk5MpC2_text","default":"<p>Ethically Sourced Bamboo</p>"},{"type":"html","id":"ggC5_yxonLd_text","label":"ggC5_yxonLd_text","default":"<p>Made with sustainable bamboo, so you can feel good about what you're wearing.</p>"},{"type":"html","id":"ggNapuf9NFw_text","label":"ggNapuf9NFw_text","default":"<p>45 Day Money Back Guarantee&nbsp;</p>"},{"type":"html","id":"ggb3n_IwtQD_text","label":"ggb3n_IwtQD_text","default":"<p>We’re sure you’ll love your new pair of BoxHero, if not- we’ll replace it for free or give you your money back.</p>"},{"type":"html","id":"ggk6IxndF40_text","label":"ggk6IxndF40_text","default":"<p>24/7 Support for all of your inquiries</p>"},{"type":"html","id":"gg4W_5korhr_text","label":"gg4W_5korhr_text","default":"<p>We're here for you anytime you need us, no matter what.</p>"},{"type":"html","id":"ggEdM4QirTy_text","label":"ggEdM4QirTy_text","default":"<p>SSL Encryption for Safe and Secure Payments</p>"},{"type":"html","id":"ggCn2vfw--b_text","label":"ggCn2vfw--b_text","default":"<p>Shop with confidence—our SSL encryption ensures your information is safe.</p>"},{"type":"html","id":"ggTIIt1JsL1_srcSet_desktop_src","label":"ggTIIt1JsL1_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0825/9813/4039/files/gempages_491320059759690869-a3ed704f-bd86-4e7f-8fd8-9c7cad830b5c.webp"},{"type":"html","id":"ggtFHGzvOaw_label","label":"ggtFHGzvOaw_label","default":"<p>TRY IT RISK-FREE – TODAY AT 50% OFF!</p>"},{"type":"html","id":"ggy5nTQGit3_text","label":"ggy5nTQGit3_text","default":"<p><span style=\"color:#00237E;\"><strong>45-day</strong></span> money&nbsp;-back guarantee</p>"},{"type":"html","id":"ggIf1FSnc2I_text","label":"ggIf1FSnc2I_text","default":"<p><span style=\"color:#00237E;\"><strong>free returns</strong></span><strong>,</strong> NO QUESTIONS ASKED&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}