
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-625672735095784107.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-625672735095784107.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-625672735095784107.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-625672735095784107.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-625672735095784107.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-625672735095784107.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-625672735095784107.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-625672735095784107.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-625672735095784107.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-625672735095784107.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-625672735095784107.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-625672735095784107.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-625672735095784107.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-625672735095784107.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-625672735095784107.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-625672735095784107.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-625672735095784107.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-625672735095784107.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-625672735095784107.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-625672735095784107.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-625672735095784107.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-625672735095784107.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-625672735095784107.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-625672735095784107.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-625672735095784107.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-625672735095784107.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-625672735095784107.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-625672735095784107.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-625672735095784107.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-625672735095784107.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-625672735095784107.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-625672735095784107.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-625672735095784107.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-625672735095784107.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-625672735095784107.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-625672735095784107.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-625672735095784107.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-625672735095784107.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-625672735095784107.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-625672735095784107.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-625672735095784107.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-625672735095784107.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-625672735095784107.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-625672735095784107.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-625672735095784107.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-625672735095784107.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-625672735095784107.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-625672735095784107.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-625672735095784107.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-625672735095784107.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-625672735095784107.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-625672735095784107.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-625672735095784107.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-625672735095784107.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-625672735095784107.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-625672735095784107.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-625672735095784107.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-625672735095784107.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-625672735095784107.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-625672735095784107.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-625672735095784107.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-625672735095784107.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-625672735095784107.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-625672735095784107.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-625672735095784107.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-625672735095784107.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-625672735095784107.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-625672735095784107.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-625672735095784107.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-625672735095784107.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-625672735095784107.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-625672735095784107.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-625672735095784107.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-625672735095784107.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-625672735095784107.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-625672735095784107.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-625672735095784107.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-625672735095784107.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-625672735095784107.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-625672735095784107.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-625672735095784107.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-625672735095784107.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-625672735095784107.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-625672735095784107.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-625672735095784107.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-625672735095784107.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-625672735095784107.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-625672735095784107.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-625672735095784107.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-625672735095784107.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-625672735095784107.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-625672735095784107.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-625672735095784107.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-625672735095784107.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-625672735095784107.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-625672735095784107.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-625672735095784107.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-625672735095784107.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-625672735095784107.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-625672735095784107.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-625672735095784107.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-625672735095784107.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-625672735095784107.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-625672735095784107.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-625672735095784107 .gp-rotate-0,.gps-625672735095784107 .gp-rotate-180,.gps-625672735095784107 .mobile\:gp-rotate-0,.gps-625672735095784107 .mobile\:gp-rotate-180,.gps-625672735095784107 .tablet\:gp-rotate-0,.gps-625672735095784107 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-625672735095784107 .gp-static{position:static}.gps-625672735095784107 .\!gp-absolute{position:absolute!important}.gps-625672735095784107 .gp-relative{position:relative}.gps-625672735095784107 .gp-left-0{left:0}.gps-625672735095784107 .gp-right-0{right:0}.gps-625672735095784107 .gp-z-1{z-index:1}.gps-625672735095784107 .gp-z-2{z-index:2}.gps-625672735095784107 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-625672735095784107 .gp-my-0{margin-bottom:0;margin-top:0}.gps-625672735095784107 .gp-mb-0{margin-bottom:0}.gps-625672735095784107 .gp-block{display:block}.gps-625672735095784107 .gp-inline-block{display:inline-block}.gps-625672735095784107 .\!gp-flex{display:flex!important}.gps-625672735095784107 .gp-flex{display:flex}.gps-625672735095784107 .gp-inline-flex{display:inline-flex}.gps-625672735095784107 .gp-grid{display:grid}.gps-625672735095784107 .gp-contents{display:contents}.gps-625672735095784107 .\!gp-hidden{display:none!important}.gps-625672735095784107 .gp-hidden{display:none}.gps-625672735095784107 .gp-h-auto{height:auto}.gps-625672735095784107 .gp-h-full{height:100%}.gps-625672735095784107 .\!gp-min-h-full{min-height:100%!important}.gps-625672735095784107 .gp-w-full{width:100%}.gps-625672735095784107 .\!gp-max-w-none{max-width:none!important}.gps-625672735095784107 .gp-max-w-full{max-width:100%}.gps-625672735095784107 .gp-flex-1{flex:1 1 0%}.gps-625672735095784107 .gp-flex-none{flex:none}.gps-625672735095784107 .gp-shrink-0{flex-shrink:0}.gps-625672735095784107 .gp-rotate-0{--tw-rotate:0deg}.gps-625672735095784107 .gp-rotate-0,.gps-625672735095784107 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-625672735095784107 .gp-rotate-180{--tw-rotate:180deg}.gps-625672735095784107 .gp-cursor-pointer{cursor:pointer}.gps-625672735095784107 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-625672735095784107 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-625672735095784107 .\!gp-flex-row{flex-direction:row!important}.gps-625672735095784107 .gp-flex-row{flex-direction:row}.gps-625672735095784107 .gp-flex-col{flex-direction:column}.gps-625672735095784107 .gp-flex-wrap{flex-wrap:wrap}.gps-625672735095784107 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-625672735095784107 .gp-content-start{align-content:flex-start}.gps-625672735095784107 .gp-items-center{align-items:center}.gps-625672735095784107 .gp-justify-center{justify-content:center}.gps-625672735095784107 .gp-justify-between{justify-content:space-between}.gps-625672735095784107 .gp-gap-2{gap:8px}.gps-625672735095784107 .gp-overflow-hidden{overflow:hidden}.gps-625672735095784107 .gp-border{border-width:1px}.gps-625672735095784107 .gp-border-transparent{border-color:transparent}.gps-625672735095784107 .gp-text-left{text-align:left}.gps-625672735095784107 .gp-text-center{text-align:center}.gps-625672735095784107 .gp-leading-\[0\]{line-height:0}.gps-625672735095784107 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity,1))}.gps-625672735095784107 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-625672735095784107 .gp-duration-200{transition-duration:.2s}.gps-625672735095784107 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-625672735095784107 .before\:gp-left-0:before{content:var(--tw-content);left:0}.gps-625672735095784107 .before\:gp-top-0:before{content:var(--tw-content);top:0}@media (max-width:1024px){.gps-625672735095784107 .tablet\:gp-static{position:static}.gps-625672735095784107 .tablet\:\!gp-absolute{position:absolute!important}.gps-625672735095784107 .tablet\:gp-left-0{left:0}.gps-625672735095784107 .tablet\:gp-right-0{right:0}.gps-625672735095784107 .tablet\:gp-z-2{z-index:2}.gps-625672735095784107 .tablet\:gp-block{display:block}.gps-625672735095784107 .tablet\:\!gp-flex{display:flex!important}.gps-625672735095784107 .tablet\:\!gp-hidden{display:none!important}.gps-625672735095784107 .tablet\:gp-hidden{display:none}.gps-625672735095784107 .tablet\:gp-h-auto{height:auto}.gps-625672735095784107 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-625672735095784107 .tablet\:gp-flex-none{flex:none}.gps-625672735095784107 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-625672735095784107 .tablet\:gp-rotate-0,.gps-625672735095784107 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-625672735095784107 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-625672735095784107 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-625672735095784107 .tablet\:gp-flex-row{flex-direction:row}.gps-625672735095784107 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-625672735095784107 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-625672735095784107 .mobile\:gp-static{position:static}.gps-625672735095784107 .mobile\:\!gp-absolute{position:absolute!important}.gps-625672735095784107 .mobile\:gp-left-0{left:0}.gps-625672735095784107 .mobile\:gp-right-0{right:0}.gps-625672735095784107 .mobile\:gp-z-2{z-index:2}.gps-625672735095784107 .mobile\:gp-block{display:block}.gps-625672735095784107 .mobile\:\!gp-flex{display:flex!important}.gps-625672735095784107 .mobile\:\!gp-hidden{display:none!important}.gps-625672735095784107 .mobile\:gp-hidden{display:none}.gps-625672735095784107 .mobile\:gp-h-auto{height:auto}.gps-625672735095784107 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-625672735095784107 .mobile\:gp-flex-none{flex:none}.gps-625672735095784107 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-625672735095784107 .mobile\:gp-rotate-0,.gps-625672735095784107 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-625672735095784107 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-625672735095784107 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-625672735095784107 .mobile\:gp-flex-row{flex-direction:row}.gps-625672735095784107 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-625672735095784107 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-625672735095784107 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-625672735095784107 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-625672735095784107 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-625672735095784107 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-625672735095784107 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-625672735095784107 .\[\&\>svg\]\:gp-w-full>svg{width:100%}@media (max-width:1024px){.gps-625672735095784107 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-625672735095784107 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-625672735095784107 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-625672735095784107 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-625672735095784107 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-625672735095784107 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-625672735095784107 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtjhgIGaV2Q.woff) format('woff');
}
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtgFgIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzamW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzZmW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzaGW5Kb8VZA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzamW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzZmW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzaGW5Kb8VZA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F7F7F7","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gjImEddMPU"}' data-id="gjImEddMPU" id="gjImEddMPU" data-same-height-subgrid-container class="gjImEddMPU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:126px;--pb:112px;--pt-mobile:56px;--pb-mobile:69px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F7F7F7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gp77ICpbCL gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gLV63vmrm1"}' data-id="gLV63vmrm1" id="gLV63vmrm1" data-same-height-subgrid-container class="gLV63vmrm1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pl:15px;--pr:15px;--cg:12px;--cg-mobile:8px;--gtc:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gxq6dxx_D7 gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="gMyq6dHcYG"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:4px;--jc:left">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gHyLpvbv8c ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gdIJgMQpnH" class="gp-leading-[0] gdIJgMQpnH" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gdIJgMQpnH" class="icon-wrapper gp-inline-flex gp-overflow-hidden gdIJgMQpnH " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:rgba(0, 0, 0, 0)">
      
        <div >
          <span style="--c:#FFDE6A;--t:rotate(0deg);--w:23px;--w-tablet:23px;--w-mobile:18px;--h:23px;--h-tablet:23px;--h-mobile:18px;--minw:23px;--minw-tablet:23px;--minw-mobile:18px;--height-desktop:23px;--height-tablet:23px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gASx9M8awo ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g48h6K9mQp" class="gp-leading-[0] g48h6K9mQp" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g48h6K9mQp" class="icon-wrapper gp-inline-flex gp-overflow-hidden g48h6K9mQp " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:rgba(0, 0, 0, 0)">
      
        <div >
          <span style="--c:#FFDE6A;--t:rotate(0deg);--w:23px;--w-tablet:23px;--w-mobile:18px;--h:23px;--h-tablet:23px;--h-mobile:18px;--minw:23px;--minw-tablet:23px;--minw-mobile:18px;--height-desktop:23px;--height-tablet:23px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="ghys4Jbpt5 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gi9ivcAeMs" class="gp-leading-[0] gi9ivcAeMs" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gi9ivcAeMs" class="icon-wrapper gp-inline-flex gp-overflow-hidden gi9ivcAeMs " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:rgba(0, 0, 0, 0)">
      
        <div >
          <span style="--c:#FFDE6A;--t:rotate(0deg);--w:23px;--w-tablet:23px;--w-mobile:18px;--h:23px;--h-tablet:23px;--h-mobile:18px;--minw:23px;--minw-tablet:23px;--minw-mobile:18px;--height-desktop:23px;--height-tablet:23px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gmqmAL9qg7 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gn7dsdY64w" class="gp-leading-[0] gn7dsdY64w" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gn7dsdY64w" class="icon-wrapper gp-inline-flex gp-overflow-hidden gn7dsdY64w " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:rgba(0, 0, 0, 0)">
      
        <div >
          <span style="--c:#FFDE6A;--t:rotate(0deg);--w:23px;--w-tablet:23px;--w-mobile:18px;--h:23px;--h-tablet:23px;--h-mobile:18px;--minw:23px;--minw-tablet:23px;--minw-mobile:18px;--height-desktop:23px;--height-tablet:23px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gRj0_n3OrU ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gZVyaKhxVA" class="gp-leading-[0] gZVyaKhxVA" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gZVyaKhxVA" class="icon-wrapper gp-inline-flex gp-overflow-hidden gZVyaKhxVA " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:rgba(0, 0, 0, 0)">
      
        <div >
          <span style="--c:#FFDE6A;--t:rotate(0deg);--w:23px;--w-tablet:23px;--w-mobile:18px;--h:23px;--h-tablet:23px;--h-mobile:18px;--minw:23px;--minw-tablet:23px;--minw-mobile:18px;--height-desktop:23px;--height-tablet:23px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863898472">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M239.18,97.26A16.38,16.38,0,0,0,224.92,86l-59-4.76L143.14,26.15a16.36,16.36,0,0,0-30.27,0L90.11,81.23,31.08,86a16.46,16.46,0,0,0-9.37,28.86l45,38.83L53,211.75a16.4,16.4,0,0,0,24.5,17.82L128,198.49l50.53,31.08A16.4,16.4,0,0,0,203,211.75l-13.76-58.07,45-38.83A16.43,16.43,0,0,0,239.18,97.26Zm-15.34,5.47-48.7,42a8,8,0,0,0-2.56,7.91l14.88,62.8a.37.37,0,0,1-.17.48c-.18.14-.23.11-.38,0l-54.72-33.65A8,8,0,0,0,128,181.1V32c.24,0,.27.08.35.26L153,91.86a8,8,0,0,0,6.75,4.92l63.91,5.16c.16,0,.25,0,.34.29S224,102.63,223.84,102.73Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gJYGpJ03bj gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbH-IVQ7BE"
        class="gbH-IVQ7BE"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:18px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggbH-IVQ7BE_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gbH-IVQ7BE">
        .gbH-IVQ7BE {

}
@media only screen and (max-width: 767px) {
    .gbH-IVQ7BE p {
        font-weight: 400 !important;
    }
}
      </style>
    
    </div>

      
    </gp-row>
  
  
    <div
      role="presentation"
      data-id="ga1VaOr4fd"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1782459811895 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ga1VaOr4fd"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gga1VaOr4fd_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkxNiIgaGVpZ2h0PSI1MTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MTYtNTE4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTE2IiBoZWlnaHQ9IjUxOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkxNiIgaGVpZ2h0PSI1MTgiIGZpbGw9InVybCgjZy0xOTE2LTUxOCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MTYiIHRvPSIxOTE2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gga1VaOr4fd_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkxNiIgaGVpZ2h0PSI1MTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MTYtNTE4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTE2IiBoZWlnaHQ9IjUxOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkxNiIgaGVpZ2h0PSI1MTgiIGZpbGw9InVybCgjZy0xOTE2LTUxOCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MTYiIHRvPSIxOTE2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.gga1VaOr4fd_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkxNiIgaGVpZ2h0PSI1MTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MTYtNTE4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTE2IiBoZWlnaHQ9IjUxOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkxNiIgaGVpZ2h0PSI1MTgiIGZpbGw9InVybCgjZy0xOTE2LTUxOCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MTYiIHRvPSIxOTE2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.gga1VaOr4fd_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmAceQtFS9"
        class="gmAceQtFS9"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:12px;--pl:15px;--pb:19px;--pr:15px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:15px;--pb-mobile:14px;--pr-mobile:15px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-fonntscom-Ivy-Presto-Headline-Semi-Bold, 'fonntscom-Ivy-Presto-Headline-Semi-Bold'), var(--g-font-heading, heading);--size:85px;--size-tablet:85px;--size-mobile:75px;--lh:120%;--lh-tablet:100%;--lh-mobile:100%;--ls:0px;--weight:bold;--c:#00237E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggmAceQtFS9_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
      <style id="custom-css-gmAceQtFS9">
        .gmAceQtFS9 .gp-text{
    overflow: visible !important;
}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glsj97MMsI"
        class="glsj97MMsI"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pl:15px;--pb:92px;--pr:15px;--mb-mobile:0px;--pl-mobile:15px;--pb-mobile:35px;--pr-mobile:15px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-IvyPresto-Headline-Semi-Bold, 'IvyPresto-Headline-Semi-Bold'), var(--g-font-heading, heading);--weight:400;--size:35px;--size-tablet:35px;--size-mobile:25px;--lh:100%;--lh-tablet:100%;--lh-mobile:120%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gglsj97MMsI_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
      <style id="custom-css-glsj97MMsI">
        .glsj97MMsI .gp-text{
    overflow: visible !important;
}
@media only screen and (max-width: 767px) {
    .glsj97MMsI, .glsj97MMsI * {
        font-weight: 300 !important;
    }
}
      </style>
    {% render 'gp-section-625672735095784107-2', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-625672735095784107 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zooro-co/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=625672735011373739&sectionId=625672735095784107)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggbH-IVQ7BE_text","label":"ggbH-IVQ7BE_text","default":"<p>4.8/5 based on 3438 reviews</p>"},{"type":"html","id":"gga1VaOr4fd_srcSet_desktop_src","label":"gga1VaOr4fd_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0703/7363/8402/files/ChatGPT_Image_24_juin_2026_12_19_30.png?v=1782296453"},{"type":"html","id":"ggmAceQtFS9_text","label":"ggmAceQtFS9_text","default":"50,481+"},{"type":"html","id":"gglsj97MMsI_text","label":"gglsj97MMsI_text","default":"Happy Customers"},{"type":"html","id":"ggPmGwwLfeb_srcSet_desktop_src","label":"ggPmGwwLfeb_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0703/7363/8402/files/ChatGPT_Image_24_juin_2026_12_33_27.png"},{"type":"html","id":"ggCE7fHYrbV_text","label":"ggCE7fHYrbV_text","default":"<span style=\"color:#000000;\">Ridiculous but Amazing</span>"},{"type":"html","id":"ggyX7DdMLJ__text","label":"ggyX7DdMLJ__text","default":"<p>The shirt is adorable. I used a picture of our cat and it came out really clear. I was worried because the photo I uploaded wasn’t the best quality, but Hapyco still made it look great. My husband said it’s “ridiculous but amazing” and that’s exactly what I wanted.</p>"},{"type":"html","id":"ggT835CQDCm_text","label":"ggT835CQDCm_text","default":"<p>Carole j.</p>"},{"type":"html","id":"ggL1j6OyWH8_childItem_0","label":"ggL1j6OyWH8_childItem_0","default":"<p>verified buyer</p>"},{"type":"html","id":"ggHo-yWyVXU_srcSet_desktop_src","label":"ggHo-yWyVXU_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0703/7363/8402/files/498276477_10162421500895090_2144661147588048849_n.jpg"},{"type":"html","id":"gg7uT70rLT8_text","label":"gg7uT70rLT8_text","default":"<span style=\"color:#09090A;\">The Perfect Gift for My Husband</span>"},{"type":"html","id":"ggpcGRoEQhT_text","label":"ggpcGRoEQhT_text","default":"<p>The shirt came out way better than I expected. I ordered it with pictures of our two dogs for my husband and he literally just stood there smiling when he opened it. The colors were bright, the dogs looked so clear, and the whole thing felt really personal. He wore it the same night to dinner and everyone kept asking where I got it from. The only thing I would say is it took a little longer than I thought to arrive, but honestly it was worth the wait.</p>"},{"type":"html","id":"gguY7QvohhM_text","label":"gguY7QvohhM_text","default":"<p>ron d.</p>"},{"type":"html","id":"gg2EiQA_kVZ_childItem_0","label":"gg2EiQA_kVZ_childItem_0","default":"<p>verified buyer</p>"},{"type":"html","id":"ggKp4y8aDpK_srcSet_desktop_src","label":"ggKp4y8aDpK_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0703/7363/8402/files/ChatGPT_Image_24_juin_2026_12_25_25.png"},{"type":"html","id":"ggbNlt912uz_text","label":"ggbNlt912uz_text","default":"My Dad Showed Everyone"},{"type":"html","id":"ggaIIux6kpV_text","label":"ggaIIux6kpV_text","default":"<p>I got this for my dad for Father’s Day and he absolutely loved it. He doesn’t usually get emotional over gifts but when he saw our old dog on the shirt he got quiet for a second and said “this is actually really cool.” That alone made it worth it. Thank you Hapyco.</p>"},{"type":"html","id":"gghbdWf1S0I_text","label":"gghbdWf1S0I_text","default":"<p>Tommy G.</p>"},{"type":"html","id":"ggXodWLXYj9_childItem_0","label":"ggXodWLXYj9_childItem_0","default":"<p>verified buyer</p>"},{"type":"html","id":"ggvOiRjsRSc_srcSet_desktop_src","label":"ggvOiRjsRSc_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0703/7363/8402/files/ChatGPT_Image_24_juin_2026_13_02_19.png"},{"type":"html","id":"ggtXh0XHscb_text","label":"ggtXh0XHscb_text","default":"Everyone Loved It at the BBQ"},{"type":"html","id":"ggWYmWxn-eN_text","label":"ggWYmWxn-eN_text","default":"<p>This shirt was a huge hit for my boyfriend’s birthday. I put our cat on it as a joke at first but when it arrived it looked so good that it didn’t even feel like a joke anymore. He wore it to his birthday BBQ and people were stopping him all day to look at it. The quality was nicer than I expected too. Super fun gift.</p>"},{"type":"html","id":"ggB0JxMJuZo_text","label":"ggB0JxMJuZo_text","default":"<p>Samuel p.</p>"},{"type":"html","id":"ggjmKYCRCBG_childItem_0","label":"ggjmKYCRCBG_childItem_0","default":"<p>verified buyer</p>"},{"type":"html","id":"ggWe6XmJzW1_srcSet_desktop_src","label":"ggWe6XmJzW1_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0703/7363/8402/files/474585017_122234362358031913_4173896460241658468_n.jpg"},{"type":"html","id":"ggWe6XmJzW1_srcSet_mobile_src","label":"ggWe6XmJzW1_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0703/7363/8402/files/Capture_d_ecran_2025-03-31_a_09.39.51.png"},{"type":"html","id":"gga14oHm6kL_text","label":"gga14oHm6kL_text","default":"<span style=\"color:#09090A;\">Almost Perfect and So Meaningful</span>"},{"type":"html","id":"ggoFT06VXY4_text","label":"ggoFT06VXY4_text","default":"<p>I ordered one for my husband with our dog Max on it and it came out almost perfect. The print is beautiful and the picture looks exactly like him. My husband laughed first, then he actually got emotional because Max passed last year. The shirt fit him well, but the sleeves were maybe a tiny bit bigger than expected. Still, he said it’s one of the best gifts I’ve ever given him.</p>"},{"type":"html","id":"ggsa-JkQbqv_text","label":"ggsa-JkQbqv_text","default":"<p>Alex N.</p>"},{"type":"html","id":"ggiUNvvbYkT_childItem_0","label":"ggiUNvvbYkT_childItem_0","default":"<p>verified buyer</p>"},{"type":"html","id":"ggaplnOalc2_srcSet_desktop_src","label":"ggaplnOalc2_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0703/7363/8402/files/ChatGPT_Image_24_juin_2026_13_00_52.png"},{"type":"html","id":"ggj55v5oBWj_text","label":"ggj55v5oBWj_text","default":"<span style=\"color:#000000;\">So Cute and Bright</span>"},{"type":"html","id":"ggWpEm7o-W0_text","label":"ggWpEm7o-W0_text","default":"<p>Honestly I wasn’t sure how the photo would look on a Hawaiian shirt, but it came out so cute. The colors are bright, the fabric is light, and my dog’s face is everywhere in the funniest way. My husband has already worn it twice.</p>"},{"type":"html","id":"ggSo3tb0KO9_text","label":"ggSo3tb0KO9_text","default":"<p>John M.</p>"},{"type":"html","id":"ggqtOcmPD1Q_childItem_0","label":"ggqtOcmPD1Q_childItem_0","default":"<p>verified buyer</p>"},{"type":"html","id":"gg1AzXVMlQj_srcSet_desktop_src","label":"gg1AzXVMlQj_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0703/7363/8402/files/492009406_9305474039562079_4153155144964008448_n.jpg"},{"type":"html","id":"ggtb5aRMmlI_text","label":"ggtb5aRMmlI_text","default":"<span style=\"color:#000000;\">Strangers Kept Complimenting Him</span>"},{"type":"html","id":"ggcmHQakp1d_text","label":"ggcmHQakp1d_text","default":"<p>Bought this for my fiancé and he loved it. We went out for drinks and strangers kept complimenting the shirt. He was proud telling everyone it was our dog on it. Such a cool idea and really good quality.</p>"},{"type":"html","id":"ggBEBA7Z0To_text","label":"ggBEBA7Z0To_text","default":"<p>Walt f.</p>"},{"type":"html","id":"ggSRlEt7zg6_childItem_0","label":"ggSRlEt7zg6_childItem_0","default":"<p>verified buyer</p>"},{"type":"html","id":"ggTzJSpgZ7w_srcSet_desktop_src","label":"ggTzJSpgZ7w_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0703/7363/8402/files/8d6d03bc-bbac-4820-9c73-077514b8d444.png"},{"type":"html","id":"ggW6i3PixrQ_text","label":"ggW6i3PixrQ_text","default":"<span style=\"color:#000000;\">Best Gift of the Party</span>"},{"type":"html","id":"ggErwWMd-6O_text","label":"ggErwWMd-6O_text","default":"<p>I surprised my brother with this shirt for his 40th birthday with his bulldog printed all over it. He opened it in front of everyone and the whole room started laughing and cheering. Then he put it on right away and didn’t take it off the whole night. The shirt was definitely the best gift of the party.</p>"},{"type":"html","id":"ggxQbXj5HuA_text","label":"ggxQbXj5HuA_text","default":"<p>Jeff C.</p>"},{"type":"html","id":"ggNL_LQAxfd_childItem_0","label":"ggNL_LQAxfd_childItem_0","default":"<p>verified buyer</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}