
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-603786005127955359.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-603786005127955359.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-603786005127955359.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-603786005127955359.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-603786005127955359.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-603786005127955359.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-603786005127955359.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-603786005127955359.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-603786005127955359.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-603786005127955359.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-603786005127955359.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-603786005127955359.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-603786005127955359.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-603786005127955359.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-603786005127955359.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-603786005127955359.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-603786005127955359.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-603786005127955359.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-603786005127955359.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-603786005127955359.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-603786005127955359.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-603786005127955359.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-603786005127955359.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-603786005127955359.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-603786005127955359.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-603786005127955359.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-603786005127955359.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-603786005127955359.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-603786005127955359.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-603786005127955359.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-603786005127955359.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-603786005127955359.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-603786005127955359.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-603786005127955359.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-603786005127955359.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-603786005127955359.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-603786005127955359.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-603786005127955359.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-603786005127955359.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-603786005127955359.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-603786005127955359.gps.gpsil [style*="--of:"]{overflow:var(--of)}.gps-603786005127955359.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-603786005127955359.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-603786005127955359.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-603786005127955359.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-603786005127955359.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-603786005127955359.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-603786005127955359.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-603786005127955359.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-603786005127955359.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-603786005127955359.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-603786005127955359.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-603786005127955359.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-603786005127955359.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-603786005127955359.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-603786005127955359.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-603786005127955359.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-603786005127955359.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-603786005127955359.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-603786005127955359.gps.gpsil [style*="--of-tablet:"]{overflow:var(--of-tablet)}.gps-603786005127955359.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-603786005127955359.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-603786005127955359.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-603786005127955359.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-603786005127955359.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-603786005127955359.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-603786005127955359.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-603786005127955359.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-603786005127955359.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-603786005127955359.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-603786005127955359.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-603786005127955359.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-603786005127955359.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-603786005127955359.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-603786005127955359.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-603786005127955359.gps.gpsil [style*="--of-mobile:"]{overflow:var(--of-mobile)}.gps-603786005127955359.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-603786005127955359.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-603786005127955359.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-603786005127955359.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-603786005127955359.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-603786005127955359.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-603786005127955359.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-603786005127955359 .gp-relative{position:relative}.gps-603786005127955359 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-603786005127955359 .gp-mb-0{margin-bottom:0}.gps-603786005127955359 .gp-inline-block{display:inline-block}.gps-603786005127955359 .gp-flex{display:flex}.gps-603786005127955359 .gp-inline-flex{display:inline-flex}.gps-603786005127955359 .gp-grid{display:grid}.gps-603786005127955359 .gp-contents{display:contents}.gps-603786005127955359 .\!gp-hidden{display:none!important}.gps-603786005127955359 .gp-hidden{display:none}.gps-603786005127955359 .gp-h-auto{height:auto}.gps-603786005127955359 .gp-h-full{height:100%}.gps-603786005127955359 .gp-w-full{width:100%}.gps-603786005127955359 .gp-max-w-full{max-width:100%}.gps-603786005127955359 .gp-flex-none{flex:none}.gps-603786005127955359 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-603786005127955359 .gp-flex-col{flex-direction:column}.gps-603786005127955359 .gp-items-center{align-items:center}.gps-603786005127955359 .gp-justify-center{justify-content:center}.gps-603786005127955359 .gp-overflow-hidden{overflow:hidden}.gps-603786005127955359 .gp-leading-\[0\]{line-height:0}.gps-603786005127955359 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-603786005127955359 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-603786005127955359 .gp-duration-200{transition-duration:.2s}.gps-603786005127955359 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-603786005127955359 .tablet\:\!gp-hidden{display:none!important}.gps-603786005127955359 .tablet\:gp-hidden{display:none}.gps-603786005127955359 .tablet\:gp-h-auto{height:auto}.gps-603786005127955359 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-603786005127955359 .mobile\:\!gp-hidden{display:none!important}.gps-603786005127955359 .mobile\:gp-hidden{display:none}.gps-603786005127955359 .mobile\:gp-h-auto{height:auto}.gps-603786005127955359 .mobile\:gp-flex-none{flex:none}}.gps-603786005127955359 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-603786005127955359 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-603786005127955359 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-603786005127955359 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-603786005127955359 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtgFgEGE.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gS9_Dmt_lh"}' data-id="gS9_Dmt_lh" id="gS9_Dmt_lh" data-same-height-subgrid-container class="gS9_Dmt_lh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:94px;--pl:15px;--pb:44px;--pr:15px;--mb-mobile:0px;--pt-mobile:22px;--pl-mobile:0px;--pb-mobile:57px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0rJPvivsW gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"glHrY2wN8O"}' data-id="glHrY2wN8O" id="glHrY2wN8O" data-same-height-subgrid-container class="glHrY2wN8O gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--pl-mobile:10px;--pr-mobile:10px;--cg:8px;--gtc:minmax(0, 12fr);--w:770px;--w-tablet:770px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gfeeALD4fU gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4t6dnsEG9"}' data-id="g4t6dnsEG9" id="g4t6dnsEG9" data-same-height-subgrid-container class="g4t6dnsEG9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:80px;--mb-mobile:29px;--pl-mobile:14px;--pr-mobile:36px;--cg:8px;--cg-mobile:4px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:641px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gm6FVFH988 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6f3shqW4-"
        class="g6f3shqW4-"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-heading, heading);--weight:700;--size:25px;--size-tablet:25px;--size-mobile:19px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6f3shqW4-_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g7agmk5-jZ gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gS0ct8HsmP" class="gp-leading-[0] gS0ct8HsmP" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--ta:left">
      <div data-id="gS0ct8HsmP" class="icon-wrapper gp-inline-flex gp-overflow-hidden gS0ct8HsmP " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:29px;--w-tablet:29px;--w-mobile:18px;--h:29px;--h-tablet:29px;--h-mobile:18px;--minw:29px;--minw-tablet:29px;--minw-mobile:18px;--height-desktop:29px;--height-tablet:29px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="531315530766746409" width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.5 0C6.5048 0 0 6.5048 0 14.5C0 22.4952 6.5048 29 14.5 29C22.4952 29 29 22.4952 29 14.5C29 6.5048 22.4951 0 14.5 0ZM15.4432 23.1033C14.7543 23.2181 13.3836 23.5049 12.6875 23.5626C12.0983 23.6114 11.5423 23.2741 11.2033 22.7899C10.8635 22.3059 10.782 21.6863 10.9838 21.1305L13.7247 13.5938H10.8749C10.8725 12.0233 12.0504 10.8687 13.557 10.4255C14.276 10.214 15.6156 9.92449 16.3125 9.96885C16.7299 9.99541 17.4577 10.2573 17.7967 10.7415C18.1365 11.2255 18.2179 11.8451 18.0162 12.4009L15.2753 19.9376H18.1242C18.1248 21.5062 16.9902 22.8454 15.4433 23.1033H15.4432ZM16.3125 9.06257C15.3114 9.06257 14.4999 8.25105 14.4999 7.25006C14.4999 6.24907 15.3115 5.43754 16.3125 5.43754C17.3134 5.43754 18.125 6.24907 18.125 7.25006C18.125 8.25105 17.3136 9.06257 16.3125 9.06257Z" fill="black"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="ghXv83J2sz gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gwrb2R_nD-"}' data-id="gwrb2R_nD-" id="gwrb2R_nD-" data-same-height-subgrid-container class="gwrb2R_nD- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:10px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:1200px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:end">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="guCXi5nUD2 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gC7P1AUmeX" class="gp-leading-[0] gC7P1AUmeX deactive" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gC7P1AUmeX" class="icon-wrapper gp-inline-flex gp-overflow-hidden gC7P1AUmeX " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:20px;--h:20px;--h-tablet:20px;--h-mobile:20px;--minw:20px;--minw-tablet:20px;--minw-mobile:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="531315835055113001" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="20.2012" y="19.5" width="19" height="19" rx="9.5" transform="rotate(180 20.2012 19.5)" fill="black"/>
<rect x="20.2012" y="19.5" width="19" height="19" rx="9.5" transform="rotate(180 20.2012 19.5)" stroke="black"/>
<path d="M12.395 7L8.39502 10L12.395 13" stroke="#F7F7F7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
        </div>
      </div>
    </div>
    
      <style id="custom-css-gC7P1AUmeX">
        .gC7P1AUmeX{
    cursor: pointer;
}
.gC7P1AUmeX.deactive rect[fill] {
    fill: #A9A9A947 !important;
}
.gC7P1AUmeX.deactive rect[stroke] {
    stroke: #00000045 !important;
}
.gC7P1AUmeX.deactive path {
    stroke: #A9A9A9A6 !important;
}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gcxmWybCrc gp-relative gp-flex gp-flex-col"
    >
      
    <div id="ghq9C1YZ16" class="gp-leading-[0] ghq9C1YZ16" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="ghq9C1YZ16" class="icon-wrapper gp-inline-flex gp-overflow-hidden ghq9C1YZ16 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:20px;--h:20px;--h-tablet:20px;--h-mobile:20px;--minw:20px;--minw-tablet:20px;--minw-mobile:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="531315758332904233" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1.20117" y="0.5" width="19" height="19" rx="9.5" fill="black"/>
<rect x="1.20117" y="0.5" width="19" height="19" rx="9.5" stroke="black"/>
<path d="M9.00684 13L13.0068 10L9.00684 7" stroke="#F7F7F7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
        </div>
      </div>
    </div>
    
      <style id="custom-css-ghq9C1YZ16">
        .ghq9C1YZ16{
    cursor: pointer;
}
.ghq9C1YZ16.deactive rect[fill] {
    fill: #A9A9A947 !important;
}
.ghq9C1YZ16.deactive rect[stroke] {
    stroke: #00000045 !important;
}
.ghq9C1YZ16.deactive path {
    stroke: #A9A9A9A6 !important;
}
      </style>
    
    </div>

      
    </gp-row>
  
  
      <style id="custom-css-gwrb2R_nD-">
        .gwrb2R_nD- {

}
@media only screen and (min-width: 451px){
   .gwrb2R_nD- {
        display: none !important;
    }
}
      </style>
    
      <script id="custom-js-gwrb2R_nD-">
        try {
          //const currentElement = document.getElementsByClassName('gwrb2R_nD-');

document.addEventListener('DOMContentLoaded', function(){
    var nextBtn = document.querySelector('.gwmkXBPZo_');
    var backBtn = document.querySelector('.gPytMM8KR-');
    
    var row = document.querySelector('.guMl4uh7qt');
    
    
    
    nextBtn.addEventListener('click', function(){
        row.scrollTo(1000, 0);
        
    })
    backBtn.addEventListener('click', function(){
        row.scrollTo(0, 0);
    })
    
    row.addEventListener('scroll', function(){
        
        var maxScrollLeft = row.scrollWidth - row.clientWidth;
        backBtn.classList.remove('deactive');
        nextBtn.classList.remove('deactive');
        if(this.scrollLeft == 0){
            backBtn.classList.add('deactive')
        }else if(this.scrollLeft >= maxScrollLeft - 10){
             nextBtn.classList.add('deactive')
        }
        
    })
    
})
        } catch(err){}
      </script>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gFkdG4XT6e"}' data-id="gFkdG4XT6e" id="gFkdG4XT6e" data-same-height-subgrid-container class="gFkdG4XT6e gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#666666;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl-mobile:0px;--pr-mobile:0px;--cg:0px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gUtpVdZh_E gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="glm_6aoD37 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gO9GJQNDhN"}' data-id="gO9GJQNDhN" id="gO9GJQNDhN" data-same-height-subgrid-container class="gO9GJQNDhN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 0px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:10px;--btrr:10px;--pt:26px;--pb:26px;--pt-mobile:35px;--pb-mobile:35px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glWPDnUHMn gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gLz_qD7zhA"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1771344831151 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gLz_qD7zhA"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "ELOA_LOGO_c5b6fba2-0cd9-47d7-bd0f-78d05f37e506.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI0MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMDAtNDAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjQwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI0MDAiIGZpbGw9InVybCgjZy0xMDAwLTQwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMDAiIHRvPSIxMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "ELOA_LOGO_c5b6fba2-0cd9-47d7-bd0f-78d05f37e506.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI0MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMDAtNDAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjQwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI0MDAiIGZpbGw9InVybCgjZy0xMDAwLTQwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMDAiIHRvPSIxMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "ELOA_LOGO_c5b6fba2-0cd9-47d7-bd0f-78d05f37e506.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI0MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMDAtNDAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjQwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI0MDAiIGZpbGw9InVybCgjZy0xMDAwLTQwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMDAiIHRvPSIxMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "ELOA_LOGO_c5b6fba2-0cd9-47d7-bd0f-78d05f37e506.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:93px;--w-tablet:93px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gLz_qD7zhA">
        .gLz_qD7zhA {

}
.gLz_qD7zhA > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gINeZAZ6K5 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5i5IWeSpi"
        class="g5i5IWeSpi"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5i5IWeSpi_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g5i5IWeSpi">
        .g5i5IWeSpi {

}
.g5i5IWeSpi p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ghJ_hqPytN"}' data-id="ghJ_hqPytN" id="ghJ_hqPytN" data-same-height-subgrid-container class="ghJ_hqPytN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#666666;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:0px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gLjxaZ5ahZ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLV663GyfQ"
        class="gLV663GyfQ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-fonntscom-Ivy-Presto-Headline-Semi-Bold, 'fonntscom-Ivy-Presto-Headline-Semi-Bold'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:0px;--c:#000000;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLV663GyfQ_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gas0DORC20 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gRny_Qw-VK"}' data-id="gRny_Qw-VK" id="gRny_Qw-VK" data-same-height-subgrid-container class="gRny_Qw-VK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 1px 0px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pb:24px;--pt-mobile:21px;--pb-mobile:21px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gU33NRblBt gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g6ZkxhOQGA" class="gp-leading-[0] g6ZkxhOQGA" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center">
      <div data-id="g6ZkxhOQGA" class="icon-wrapper gp-inline-flex gp-overflow-hidden g6ZkxhOQGA " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#232e3e;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:16px;--h:20px;--h-tablet:20px;--h-mobile:16px;--minw:20px;--minw-tablet:20px;--minw-mobile:16px;--height-desktop:20px;--height-tablet:20px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723126055272">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M243.31,90.91l-128.4,128.4a16,16,0,0,1-22.62,0l-71.62-72a16,16,0,0,1,0-22.61l20-20a16,16,0,0,1,22.58,0L104,144.22l96.76-95.57a16,16,0,0,1,22.59,0l19.95,19.54A16,16,0,0,1,243.31,90.91Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gxggcoaRv5 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gYuCYJCe5f" class="gp-leading-[0] gYuCYJCe5f" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center">
      <div data-id="gYuCYJCe5f" class="icon-wrapper gp-inline-flex gp-overflow-hidden gYuCYJCe5f " style="--bs:none">
      
        <div >
          <span style="--c:#931A1A;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:16px;--h:20px;--h-tablet:20px;--h-mobile:16px;--minw:20px;--minw-tablet:20px;--minw-mobile:16px;--height-desktop:20px;--height-tablet:20px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817606065848680">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208.49,191.51a12,12,0,0,1-17,17L128,145,64.49,208.49a12,12,0,0,1-17-17L111,128,47.51,64.49a12,12,0,0,1,17-17L128,111l63.51-63.52a12,12,0,0,1,17,17L145,128Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gOKB_V3sN4"}' data-id="gOKB_V3sN4" id="gOKB_V3sN4" data-same-height-subgrid-container class="gOKB_V3sN4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#666666;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--cg:0px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gbb8aLp6Hv gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTGCd9ioa3"
        class="gTGCd9ioa3"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-fonntscom-Ivy-Presto-Headline-Semi-Bold, 'fonntscom-Ivy-Presto-Headline-Semi-Bold'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:0px;--c:#000000;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTGCd9ioa3_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gWtFLuOSqX gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"glA9gDHJPh"}' data-id="glA9gDHJPh" id="glA9gDHJPh" data-same-height-subgrid-container class="glA9gDHJPh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 1px 0px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:34px;--pb:34px;--pt-mobile:30px;--pb-mobile:30px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gGXRToOMFG gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gqMINl6OxO" class="gp-leading-[0] gqMINl6OxO" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center">
      <div data-id="gqMINl6OxO" class="icon-wrapper gp-inline-flex gp-overflow-hidden gqMINl6OxO " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#232e3e;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:16px;--h:20px;--h-tablet:20px;--h-mobile:16px;--minw:20px;--minw-tablet:20px;--minw-mobile:16px;--height-desktop:20px;--height-tablet:20px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723126055272">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M243.31,90.91l-128.4,128.4a16,16,0,0,1-22.62,0l-71.62-72a16,16,0,0,1,0-22.61l20-20a16,16,0,0,1,22.58,0L104,144.22l96.76-95.57a16,16,0,0,1,22.59,0l19.95,19.54A16,16,0,0,1,243.31,90.91Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gtxv4i4K9r gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gsMnDodYP8" class="gp-leading-[0] gsMnDodYP8" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:12px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center">
      <div data-id="gsMnDodYP8" class="icon-wrapper gp-inline-flex gp-overflow-hidden gsMnDodYP8 " style="--bs:none">
      
        <div >
          <span style="--c:#931A1A;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:15px;--h:20px;--h-tablet:20px;--h-mobile:15px;--minw:20px;--minw-tablet:20px;--minw-mobile:15px;--height-desktop:20px;--height-tablet:20px;--height-mobile:15px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817606065848680">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208.49,191.51a12,12,0,0,1-17,17L128,145,64.49,208.49a12,12,0,0,1-17-17L111,128,47.51,64.49a12,12,0,0,1,17-17L128,111l63.51-63.52a12,12,0,0,1,17,17L145,128Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gr0z4t79Oz"}' data-id="gr0z4t79Oz" id="gr0z4t79Oz" data-same-height-subgrid-container class="gr0z4t79Oz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#666666;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:0px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="grHv_EK-vq gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxNMGWrxqT"
        class="gxNMGWrxqT"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:Auto;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-fonntscom-Ivy-Presto-Headline-Semi-Bold, 'fonntscom-Ivy-Presto-Headline-Semi-Bold'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxNMGWrxqT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gmQcVpNp13 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gWqmFiuR1f"}' data-id="gWqmFiuR1f" id="gWqmFiuR1f" data-same-height-subgrid-container class="gWqmFiuR1f gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 1px 0px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:34px;--pb:34px;--pt-mobile:39px;--pb-mobile:39px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gFABwZssmR gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g41KyiklXV" class="gp-leading-[0] g41KyiklXV" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center">
      <div data-id="g41KyiklXV" class="icon-wrapper gp-inline-flex gp-overflow-hidden g41KyiklXV " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#232e3e;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:16px;--h:20px;--h-tablet:20px;--h-mobile:16px;--minw:20px;--minw-tablet:20px;--minw-mobile:16px;--height-desktop:20px;--height-tablet:20px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723126055272">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M243.31,90.91l-128.4,128.4a16,16,0,0,1-22.62,0l-71.62-72a16,16,0,0,1,0-22.61l20-20a16,16,0,0,1,22.58,0L104,144.22l96.76-95.57a16,16,0,0,1,22.59,0l19.95,19.54A16,16,0,0,1,243.31,90.91Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gLQrpq26D0 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gVl19QVF_D" class="gp-leading-[0] gVl19QVF_D" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:12px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center">
      <div data-id="gVl19QVF_D" class="icon-wrapper gp-inline-flex gp-overflow-hidden gVl19QVF_D " style="--bs:none">
      
        <div >
          <span style="--c:#931A1A;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:15px;--h:20px;--h-tablet:20px;--h-mobile:15px;--minw:20px;--minw-tablet:20px;--minw-mobile:15px;--height-desktop:20px;--height-tablet:20px;--height-mobile:15px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817606065848680">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208.49,191.51a12,12,0,0,1-17,17L128,145,64.49,208.49a12,12,0,0,1-17-17L111,128,47.51,64.49a12,12,0,0,1,17-17L128,111l63.51-63.52a12,12,0,0,1,17,17L145,128Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g6PL40249Q"}' data-id="g6PL40249Q" id="g6PL40249Q" data-same-height-subgrid-container class="g6PL40249Q gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#666666;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:0px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gWHGyCBMxV gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxg151cijh"
        class="gxg151cijh"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:Auto;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-fonntscom-Ivy-Presto-Headline-Semi-Bold, 'fonntscom-Ivy-Presto-Headline-Semi-Bold'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxg151cijh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g7ef-Rl0N- gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gbbYd958p-"}' data-id="gbbYd958p-" id="gbbYd958p-" data-same-height-subgrid-container class="gbbYd958p- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 1px 0px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:34px;--pb:34px;--pt-mobile:39px;--pb-mobile:39px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gbugHNSgGU gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gZag065XF5" class="gp-leading-[0] gZag065XF5" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center">
      <div data-id="gZag065XF5" class="icon-wrapper gp-inline-flex gp-overflow-hidden gZag065XF5 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#232e3e;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:16px;--h:20px;--h-tablet:20px;--h-mobile:16px;--minw:20px;--minw-tablet:20px;--minw-mobile:16px;--height-desktop:20px;--height-tablet:20px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723126055272">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M243.31,90.91l-128.4,128.4a16,16,0,0,1-22.62,0l-71.62-72a16,16,0,0,1,0-22.61l20-20a16,16,0,0,1,22.58,0L104,144.22l96.76-95.57a16,16,0,0,1,22.59,0l19.95,19.54A16,16,0,0,1,243.31,90.91Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="go3cluD852 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gYLFwEiWvI" class="gp-leading-[0] gYLFwEiWvI" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:12px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center">
      <div data-id="gYLFwEiWvI" class="icon-wrapper gp-inline-flex gp-overflow-hidden gYLFwEiWvI " style="--bs:none">
      
        <div >
          <span style="--c:#931A1A;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:15px;--h:20px;--h-tablet:20px;--h-mobile:15px;--minw:20px;--minw-tablet:20px;--minw-mobile:15px;--height-desktop:20px;--height-tablet:20px;--height-mobile:15px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817606065848680">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208.49,191.51a12,12,0,0,1-17,17L128,145,64.49,208.49a12,12,0,0,1-17-17L111,128,47.51,64.49a12,12,0,0,1,17-17L128,111l63.51-63.52a12,12,0,0,1,17,17L145,128Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-603786005127955359 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zooro-co/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=603786004289029023&sectionId=603786005127955359)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg6f3shqW4-_text","label":"gg6f3shqW4-_text","default":"ELŌA Bra TankTop Above the Rest"},{"type":"html","id":"gg5i5IWeSpi_text","label":"gg5i5IWeSpi_text","default":"<p>Other</p>"},{"type":"html","id":"ggLV663GyfQ_text","label":"ggLV663GyfQ_text","default":"<p><strong>Refines the waist</strong></p>"},{"type":"html","id":"ggTGCd9ioa3_text","label":"ggTGCd9ioa3_text","default":"<p><strong>Relieves back tension</strong></p><p>&nbsp;</p>"},{"type":"html","id":"ggxNMGWrxqT_text","label":"ggxNMGWrxqT_text","default":"<p><strong>Lifts &amp; supports bust naturally</strong></p>"},{"type":"html","id":"ggxg151cijh_text","label":"ggxg151cijh_text","default":"<p><strong>Sculpted silhouette</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}