
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-625369882975863347.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-625369882975863347.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-625369882975863347.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-625369882975863347.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-625369882975863347.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-625369882975863347.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-625369882975863347.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-625369882975863347.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-625369882975863347.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-625369882975863347.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-625369882975863347.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-625369882975863347.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-625369882975863347.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-625369882975863347.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-625369882975863347.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-625369882975863347.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-625369882975863347.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-625369882975863347.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-625369882975863347.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-625369882975863347.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-625369882975863347.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-625369882975863347.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-625369882975863347.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-625369882975863347.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-625369882975863347.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-625369882975863347.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-625369882975863347.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-625369882975863347.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-625369882975863347.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-625369882975863347.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-625369882975863347.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-625369882975863347.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-625369882975863347.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-625369882975863347.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-625369882975863347.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-625369882975863347.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-625369882975863347.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-625369882975863347.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-625369882975863347.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-625369882975863347.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-625369882975863347.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-625369882975863347.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-625369882975863347.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-625369882975863347.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-625369882975863347.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-625369882975863347.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-625369882975863347.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-625369882975863347.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-625369882975863347.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-625369882975863347.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-625369882975863347.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-625369882975863347.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-625369882975863347.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-625369882975863347.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-625369882975863347.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-625369882975863347.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-625369882975863347.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-625369882975863347.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-625369882975863347.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-625369882975863347.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-625369882975863347.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-625369882975863347.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-625369882975863347.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-625369882975863347.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-625369882975863347.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-625369882975863347.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-625369882975863347.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-625369882975863347.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-625369882975863347.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-625369882975863347.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-625369882975863347.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-625369882975863347.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-625369882975863347.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-625369882975863347.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-625369882975863347.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-625369882975863347.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-625369882975863347.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-625369882975863347.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-625369882975863347.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-625369882975863347.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-625369882975863347.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-625369882975863347.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-625369882975863347.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-625369882975863347.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-625369882975863347.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-625369882975863347.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-625369882975863347.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-625369882975863347 .gp-invisible{visibility:hidden}.gps-625369882975863347 .gp-absolute{position:absolute}.gps-625369882975863347 .gp-relative{position:relative}.gps-625369882975863347 .gp-top-0{top:0}.gps-625369882975863347 .-gp-z-1{z-index:-1}.gps-625369882975863347 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-625369882975863347 .gp-mb-0{margin-bottom:0}.gps-625369882975863347 .gp-flex{display:flex}.gps-625369882975863347 .gp-inline-flex{display:inline-flex}.gps-625369882975863347 .gp-grid{display:grid}.gps-625369882975863347 .\!gp-hidden{display:none!important}.gps-625369882975863347 .gp-hidden{display:none}.gps-625369882975863347 .gp-h-full{height:100%}.gps-625369882975863347 .gp-w-full{width:100%}.gps-625369882975863347 .gp-max-w-full{max-width:100%}.gps-625369882975863347 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-625369882975863347 .gp-flex-col{flex-direction:column}.gps-625369882975863347 .\!gp-content-stretch{align-content:stretch!important}.gps-625369882975863347 .gp-items-center{align-items:center}.gps-625369882975863347 .gp-justify-center{justify-content:center}.gps-625369882975863347 .\!gp-self-center{align-self:center!important}.gps-625369882975863347 .gp-self-center{align-self:center}.gps-625369882975863347 .gp-overflow-hidden{overflow:hidden}.gps-625369882975863347 .gp-break-words{overflow-wrap:break-word}.gps-625369882975863347 .gp-text-center{text-align:center}.gps-625369882975863347 .gp-no-underline{text-decoration-line:none}.gps-625369882975863347 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-625369882975863347 .gp-duration-200{transition-duration:.2s}.gps-625369882975863347 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-625369882975863347 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-625369882975863347 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-625369882975863347 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-625369882975863347 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-625369882975863347 .tablet\:\!gp-relative{position:relative!important}.gps-625369882975863347 .tablet\:\!gp-hidden{display:none!important}.gps-625369882975863347 .tablet\:gp-hidden{display:none}.gps-625369882975863347 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-625369882975863347 .tablet\:gp-justify-center{justify-content:center}.gps-625369882975863347 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-625369882975863347 .mobile\:\!gp-relative{position:relative!important}.gps-625369882975863347 .mobile\:\!gp-hidden{display:none!important}.gps-625369882975863347 .mobile\:gp-hidden{display:none}.gps-625369882975863347 .mobile\:\!gp-h-auto{height:auto!important}.gps-625369882975863347 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-625369882975863347 .mobile\:gp-justify-center{justify-content:center}.gps-625369882975863347 .mobile\:\!gp-self-center{align-self:center!important}}.gps-625369882975863347 .\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}@media (max-width:1024px){.gps-625369882975863347 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-625369882975863347 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-625369882975863347 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-625369882975863347 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtjhgIGaV2Q.woff) format('woff');
}
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtmZgIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzamW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzZmW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzaGW5Kb8VZA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzamW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzZmW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzaGW5Kb8VZA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzamW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzZmW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzaGW5Kb8VZA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F7F7F7","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g6f6SmV9vc"}' data-id="g6f6SmV9vc" id="g6f6SmV9vc" data-same-height-subgrid-container class="g6f6SmV9vc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:15px;--pb:96px;--pr:15px;--pt-mobile:58px;--pl-mobile:15px;--pb-mobile:59px;--pr-mobile:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F7F7F7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gAjSdaGsP8 gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gZBWIjc_F8"
        class="gZBWIjc_F8 gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--w:1273px;--w-tablet:1273px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:500px"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":731,"src":"{{ section.settings.ggZBWIjc_F8_background_desktop_image_src }}","storage":"FILE_CONTENT","width":1910},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"{{ section.settings.ggZBWIjc_F8_background_desktop_video }}","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":731,"src":"{{ section.settings.ggZBWIjc_F8_background_tablet_image_src }}","storage":"THEME","width":1910},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"{{ section.settings.ggZBWIjc_F8_background_tablet_video }}","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":810,"src":"{{ section.settings.ggZBWIjc_F8_background_mobile_image_src }}","storage":"FILE_CONTENT","width":500},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"{{ section.settings.ggZBWIjc_F8_background_mobile_video }}","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"}},"uid":"gZBWIjc_F8","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"sizeSetting":{"desktop":{"gap":"","height":"","shape":"custom","shapeLinked":false,"shapeValue":"","width":"1273px","widthHeightLinked":false},"tablet":{"gap":"","height":"","shape":"custom","shapeLinked":false,"shapeValue":"","width":"1273px","widthHeightLinked":false},"mobile":{"height":"500px","shape":"custom","width":"100%"}},"videoObjectFit":{},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":true}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:500px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bblr:25px;--bbrr:25px;--btlr:25px;--btrr:25px;--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0 0 0 round 25px 25px 25px 25px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp_lazybg" style="--bgi:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkxMCIgaGVpZ2h0PSI3MzEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MTAtNzMxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTEwIiBoZWlnaHQ9IjczMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkxMCIgaGVpZ2h0PSI3MzEiIGZpbGw9InVybCgjZy0xOTEwLTczMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MTAiIHRvPSIxOTEwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+);--bgi-tablet:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkxMCIgaGVpZ2h0PSI3MzEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MTAtNzMxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTEwIiBoZWlnaHQ9IjczMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkxMCIgaGVpZ2h0PSI3MzEiIGZpbGw9InVybCgjZy0xOTEwLTczMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MTAiIHRvPSIxOTEwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+);--bgi-mobile:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjgxMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTgxMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjgxMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjgxMCIgZmlsbD0idXJsKCNnLTUwMC04MTApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ section.settings.ggZBWIjc_F8_background_desktop_image_src }}" data-src="{{ section.settings.ggZBWIjc_F8_background_desktop_image_src }}" data-srcset="{{ section.settings.ggZBWIjc_F8_background_desktop_image_src }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazyload"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ section.settings.ggZBWIjc_F8_background_tablet_image_src }}" data-src="{{ section.settings.ggZBWIjc_F8_background_tablet_image_src }}" data-srcset="{{ section.settings.ggZBWIjc_F8_background_tablet_image_src }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl gp_lazyload"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ section.settings.ggZBWIjc_F8_background_mobile_image_src }}" data-src="{{ section.settings.ggZBWIjc_F8_background_mobile_image_src }}" data-srcset="{{ section.settings.ggZBWIjc_F8_background_mobile_image_src }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb gp_lazyload"
    />
          
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-center tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:20px;--pr:20px;--pt:77px;--pb:77px;--pl-tablet:20px;--pr-tablet:20px;--pt-tablet:77px;--pb-tablet:77px;--pl-mobile:20px;--pr-mobile:20px;--pt-mobile:63px;--pb-mobile:63px;--cg:32px;--gtc:minmax(0, 12fr);--w:742px;--w-tablet:742px;--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="goicGTbDZ0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ganCMvnWtf"
        class="ganCMvnWtf"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-heading, heading);--weight:600;--size:25px;--size-tablet:25px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gganCMvnWtf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gyK-W2hqgg"
        class="gyK-W2hqgg"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:16px;--pb:25px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:20px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-IvyPresto-Headline-Semi-Bold, 'IvyPresto-Headline-Semi-Bold'), var(--g-font-heading, heading);--weight:400;--size:45px;--size-tablet:45px;--size-mobile:35px;--lh:118%;--lh-tablet:118%;--lh-mobile:118%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggyK-W2hqgg_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
      <style id="custom-css-gyK-W2hqgg">
        .gyK-W2hqgg .gp-text{
    overflow: visible !important;
}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gg4B3UHmDr"
        class="gg4B3UHmDr"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pb:46px;--mb-mobile:0px;--pb-mobile:41px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#F7F7F7;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggg4B3UHmDr_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#gabU915ziD","target":"_self","title":"Element","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center" >
        <style>[data-id="gtEady1gGn"].gp-button-base::before, [data-id="gtEady1gGn-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
  
    }
  
      
  [data-id="gtEady1gGn"]:hover::before, [data-id="gtEady1gGn-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gabU915ziD
            target=_self
          ></a>
        <a
          data-id="gtEady1gGn" dataId="gtEady1gGn" data-state="idle" aria-label="<p>TRY IT RISK-FREE – TODAY AT 50% OFF!</p>"
          
          href="#gabU915ziD" target="_self"
          style="--w:450px;--w-tablet:450px;--w-mobile:269px;--h:57px;--h-tablet:57px;--h-mobile:57px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--shadow:none;--hvr-bg:#F7F7F7;--bg:#F7F7F7;--c:#00237E;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:800;--size:19px;--size-tablet:19px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px"
          class="gtEady1gGn gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:800;--size:19px;--size-tablet:19px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggtEady1gGn_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggZBWIjc_F8_background_mobile_image_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjgxMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTgxMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjgxMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjgxMCIgZmlsbD0idXJsKCNnLTUwMC04MTApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggZBWIjc_F8_background_tablet_image_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkxMCIgaGVpZ2h0PSI3MzEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MTAtNzMxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTEwIiBoZWlnaHQ9IjczMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkxMCIgaGVpZ2h0PSI3MzEiIGZpbGw9InVybCgjZy0xOTEwLTczMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MTAiIHRvPSIxOTEwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkxMCIgaGVpZ2h0PSI3MzEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MTAtNzMxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTEwIiBoZWlnaHQ9IjczMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkxMCIgaGVpZ2h0PSI3MzEiIGZpbGw9InVybCgjZy0xOTEwLTczMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MTAiIHRvPSIxOTEwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggZBWIjc_F8_background_desktop_image_src }}"
        alt=""
        width="100%"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:1273px;--w-tablet:1273px;--w-mobile:100%"
        class="adaptive-hero-banner gp_lazyload"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
{
  "name": "Hapyco BambooFiber",
  "tag": "section",
  "class": "gps-625369882975863347 gps gpsil",
  "settings": [
    {
      "type": "paragraph",
      "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zooro-co/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=625369882841580083&sectionId=625369882975863347)"
    },
    {
      "type": "select",
      "label": "Section Preload",
      "id": "section_preload",
      "options": [
        {
          "label": "On",
          "value": "true"
        },
        {
          "label": "Off",
          "value": "false"
        },
        {
          "label": "Off Lazy Script",
          "value": "off_lazy_script"
        }
      ],
      "default": "true"
    },
    {
      "type": "text",
      "label": "Checksum",
      "id": "checksum"
    },
    {
      "type": "html",
      "id": "ggZBWIjc_F8_background_desktop_image_src",
      "label": "Image de fond (desktop)",
      "default": "https://cdn.shopify.com/s/files/1/0825/9813/4039/files/gempages_491320059759690869-c79eeb0b-5d2c-4f0f-962f-570f8f404449.jpg"
    },
    {
      "type": "html",
      "id": "ggZBWIjc_F8_background_desktop_video",
      "label": "ggZBWIjc_F8_background_desktop_video",
      "default": "https://www.youtube.com/watch?v=cyzh48XRS4M"
    },
    {
      "type": "html",
      "id": "ggZBWIjc_F8_background_desktop_videoHtml5",
      "label": "ggZBWIjc_F8_background_desktop_videoHtml5",
      "default": "https://media.w3.org/2010/05/sintel/trailer.mp4"
    },
    {
      "type": "html",
      "id": "ggZBWIjc_F8_background_tablet_image_src",
      "label": "Image de fond (tablette)",
      "default": "https://cdn.shopify.com/s/files/1/0600/1626/3424/files/gempages_432747221969011735-5ffc9dc8-ccd7-4e09-9fde-7a70d387f9ef.jpg"
    },
    {
      "type": "html",
      "id": "ggZBWIjc_F8_background_tablet_video",
      "label": "ggZBWIjc_F8_background_tablet_video",
      "default": "https://www.youtube.com/watch?v=cyzh48XRS4M"
    },
    {
      "type": "html",
      "id": "ggZBWIjc_F8_background_tablet_videoHtml5",
      "label": "ggZBWIjc_F8_background_tablet_videoHtml5",
      "default": "https://media.w3.org/2010/05/sintel/trailer.mp4"
    },
    {
      "type": "html",
      "id": "ggZBWIjc_F8_background_mobile_image_src",
      "label": "Image de fond (mobile)",
      "default": "https://cdn.shopify.com/s/files/1/0825/9813/4039/files/gempages_491320059759690869-db36dd70-c11b-4b9b-937d-b5772eff88de.jpg"
    },
    {
      "type": "html",
      "id": "ggZBWIjc_F8_background_mobile_video",
      "label": "ggZBWIjc_F8_background_mobile_video",
      "default": "https://www.youtube.com/watch?v=cyzh48XRS4M"
    },
    {
      "type": "html",
      "id": "ggZBWIjc_F8_background_mobile_videoHtml5",
      "label": "ggZBWIjc_F8_background_mobile_videoHtml5",
      "default": "https://media.w3.org/2010/05/sintel/trailer.mp4"
    },
    {
      "type": "html",
      "id": "gganCMvnWtf_text",
      "label": "Texte 1",
      "default": "<p>Innovation in men’s essentials</p>"
    },
    {
      "type": "html",
      "id": "ggyK-W2hqgg_text",
      "label": "Texte 2",
      "default": "BambooFiber Technology"
    },
    {
      "type": "html",
      "id": "ggg4B3UHmDr_text",
      "label": "Texte 3",
      "default": "<p>We’ve all dealt with boxers that bunch up, don’t breathe, or fall apart. That’s why we created Boxhero Bamboo Boxer Shorts—crafted with cutting-edge BambooFiber Technology. Say goodbye to rolling up, sweating, and uncomfortable fits. Toss those old boxers and step into something built for you, by guys who get it.</p>"
    },
    {
      "type": "html",
      "id": "ggtEady1gGn_label",
      "label": "Libellé 1",
      "default": "<p>TRY IT RISK-FREE – TODAY AT 50% OFF!</p>"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "locales": {}
}
{% endschema %}
